//
// Layouts
// --------------------------------------------------


// Container (centered, fixed-width layouts)
.container {
  @include container-fixed();
}
#sidebar {
	padding:$fluidGridGutterWidth;
	@include box-sizing(border-box);
}

// Fluid layouts (left aligned, with sidebar, min- & max-width content)
// .container-fluid {
//   padding-right: $gridGutterWidth;
//   padding-left: $gridGutterWidth;
//   @include clearfix();
// }

