/* ==========================================================================
   NAVBAR
   ========================================================================== */
 

// COMMON STYLES
// -------------
.header-main {
  @include box-sizing(border-box);
  width:100%;
  background-color:$joeorange;
  color: $white;
}
.header-content {
  a {
    color: $white;
    &:hover {
      text-decoration: none;
    }
  }
  .logo-container {
    position: relative;
    z-index: 1001;
    .logo {
      float: right;
      margin: 0;
      background: url("http://www.joesnellpdx.com/wp-content/themes/Joe_Snell_PDX/_img/joesnell2.svg") no-repeat;
      @include background-size();
    }
    // .logo.svg {
    //   background: url("http://www.joesnellpdx.com/wp-content/themes/Joe_Snell_PDX/_img/joesnell.png");
    //   background-color: transparent;
    // }
  }
  .title,
  .title-secondary {
    line-height: .5em;
  }
  .title {
    margin: 0;
    padding: .4em 0 0 5%;
    font-size: 2.5em;
  }
  .title-sub {
    font-size: .4em;
  }
  .title-secondary {
    margin: 0 0 0 1.8em;
    padding: .5em;
    font-size: 2em;
  }
}

.header-main-home {
  width: 100%;
  height:$navbarHeight;
  .menu-link {
    margin-left:-101em;
  } 
  .logo {
    width:$navbarHeight;
    height:$navbarHeight;
  }
}

.header-main-page {
  height:$navbarBaseHeight;
  .logo {
    width:$navbarBaseHeight;
    height:$navbarBaseHeight;
  }
}

// LANDING NAV
// -------------------------

#nav-home,
#nav-page {
  @include box-sizing(border-box);
  list-style-type: none;
  li {
    @include navButton;
  }
  a {
    color: $linkColor;
    font-family:$sansFontFamily;
    &:hover {
      color:darken($linkColor, 15%);
      text-decoration:none;
    }
  }
}

#nav-home {
  position: absolute;
  top: 5em;
  right: 0;
  left: 0;
  margin: 0;
  padding: .5em;
  li {
    float: left;
    margin: 2%;
    width: 46%;
  }
  a {
    position: relative;
    display: inline;
    float: left;
    overflow: hidden;
    padding: 5em 0 3.5em;
    width: 100%;
    height: 0;
    font-size: 1em;
    line-height: 0;
  }
  .icon-user::before,
  .icon-pencil::before,
  .icon-briefcase::before,
  .icon-comment::before {
    position: absolute;
    top: 1.4em;
    left: 50%;
    margin-left:-.4em;
    color:darken(#B3B3B3, 50%);
    text-shadow:1px 1px $gray, -1px -1px $black;
    font-size: 2em;
  }
  .back {
  position: absolute;
  left: -101em;
  a {
      position: static;
    }
  }
}

  body:not(:target) #nav-page {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  margin: 0;
  padding-top: $navbarBaseHeight;
  li {
    position: relative;
    float: left;
    overflow: hidden;
    width: 25%;
    height: 0;
    &:first-child {
      border-left: none;
    }
    &:nth-child(4) {
      border-right: none;
    }
  }
  a {
    @include transition(height .25s);
    position: relative;
    display: inline;
    float: left;
    overflow: hidden;
    padding: 0;
    width: 100%;
    height: 0;
    font-size: $baseFontSize + .125em;
    line-height: 0;
  }
}
body:not(:target) #nav-page:target {
  z-index: 1001;
  li {
    overflow: visible;
    height: auto;
    text-align: center;
  }
  .icon-user::before,
  .icon-pencil::before,
  .icon-briefcase::before,
  .icon-comment::before {
    display: block;
    color:darken(#B3B3B3, 50%);
    text-shadow:1px 1px $gray, -1px -1px $black;
    font-size: 1.5em;
  }
  a {
    @include transition(height .25s);
    position: relative;
    z-index: 1;
    clear: left;
    padding-top: 1em;
    height: 4em;
    border-right: solid 1px $gray;
    border-left:solid 1px $grayDark;
    font-size: .8em;
    line-height: 1.6em;
  }
  .back {
    position: relative;
    display: block;
    width: 100%;
    a {
    position: absolute;
    top: -101em;
    right: 0;
    bottom: -101em;
    left: 0;
    z-index: 0;
    display: block;
    height: auto;
    border: 0;
    background: transparent;
    text-indent: -999em;
    line-height: 1;
    }
  }
}
.no-textshadow {
  #nav-page,
  #nav-home {
    .icon-user::before,
    .icon-pencil::before,
    .icon-briefcase::before,
    .icon-comment::before {
      color: $gray;
    }
  }
}


// COLLAPSIBLE NAV
// -------------------------

.menu-link {
  @include menuLink;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1001;
}

.menu-link-left,
.menu-link-right {
  @include border-radius(.5em);
  @include transition(background-color .5s ease-out);
  @include box-shadow(white 0 1px 0, rgba(0, 0, 0, 0.5) 0 1px 3px 0px inset);
  top: 9em;
  margin: 0;
  padding: 1em .8em;
  background: $white;
  background-color: rgba(0, 0, 0, 0.04);
  color: $grayDarker;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 1px 1px $white;
  font-weight: bold;
  font-size: 1em;
  font-family:$sansFontFamily;
  &:hover {
    @include transition(background-color .5s ease-out);
    background-color: $grayDarker;
    color: $linkColor;
    text-decoration: none;
    text-shadow: none;
  }
  @include box-sizing(border-box);
}
