/* ==========================================================================
   NAVBAR
   ========================================================================== */
 

// COMMON STYLES
// -------------
.header-main-home,
.header-main-page {
  background-color:$joeorange;
  width:100%;
  @include box-sizing(border-box);
}
.header-main-home {
  height:$navbarHeight;
  .menu-link {
    margin-left:-1000px;
  } 
}
.header-main-page {
  height:$navbarBaseHeight;
}

// TYPE / IMG
// -------------
.logo img {
  float:right;
  margin:0;
}
.logo-head img {
  height:$navbarHeight;
  width:$navbarHeight;
}
.logo-head-base img {
  height:$navbarBaseHeight;
  width:$navbarBaseHeight;
}
.brand-text {
  color:$white;
  .brand,
  .brand-base {
    line-height:.5em;
  }
  .brand {
    font-size:2.5em;
    margin:0;
    padding:.4em 0 0 5%;
  }
  .brand-base {
    font-size:2em;
    margin:0 0 0 1.8em;
    padding:.5em;
  }
  .sub-head {
    font-size:.4em;
  }
}

// COLLAPSIBLE NAV
// -------------------------

a.menu-link,
a.menu-link-right {
  display: block;
  color:$grayLighter;
  height:($navbarBaseHeight * .7);
  width:($navbarBaseHeight * .7); 
  float:left;
  margin:($navbarBaseHeight * .15);
  padding:.3em 0;
  text-align:center;
  text-shadow:none;
  @include box-sizing(border-box);
}
a.menu-link:hover {
  text-decoration:none;
}

// nav.basemenu = .basemenu

nav.basemenu {
  clear: both;
  @include transition(all 0.3s ease-out);
  @include box-sizing(border-box);
  max-height: 15em;
  margin-top:0px;
  width:100%;
  padding-bottom:.0625em;
}
.js nav.basemenu {
  overflow: hidden;
  max-height: 0;
  margin-top:0px;
  float:left;
  width:100%;
  padding:0;
  border:none;
}
nav.basemenu.active {
  max-height: 15em;
  margin-top:0px;
  width:100%;
  padding-bottom:.0625em;
  border-bottom:1px solid $grayDarker;

}
nav.basemenu ul {
  border-top: 1px solid #808080;
  margin:0;
}
nav.basemenu a,
.landingmenu a {
  @include navButton;
}
// reinstate backgrounds and details for effect
nav.basemenu a, 
.landingmenu a {
  color:$linkColor;
}
nav.basemenu li {
  border-right: solid 1px $gray;
  border-left:solid 1px $grayDark;
  position:relative;
  display:block;
  float:left;
  width:25%;
  @include box-sizing(border-box);
}
nav.basemenu ul>:first-child {
  border-left:none;
}
nav.basemenu ul>:last-child {
  border-right:none;
}
nav.basemenu li a {
  display:block;
  color:$joeorange;
  font-size:.8em;
  padding: 3em 0 1em 0;
}
nav.basemenu li a:hover {
  text-decoration:none;
}

nav.basemenu [class^="icon-"]:before,
nav.basemenu [class*=" icon-"]:before {
  position:absolute;
  font-size:1.5em;
  top:.5em;
  left:50%;
  margin-left:-.4em;
  color:darken(#B3B3B3, 50%);
  text-shadow:1px 1px $gray, -1px -1px $black;
}


// LANDING BUTTONS
// -------------------------

// .landingmenu li (button) defined above

.landingmenu {
  clear:both;
  @include box-sizing(border-box);
  padding:.5em;
}
.landingmenu ul {
  margin:0;
}
.landingmenu li {
  position:relative;
  @include box-sizing(border-box);
  float:left;
  width:46%;
  margin:2%; 
  list-style-type:none;
}
.landingmenu li:nth-child(n+3) {
  margin-bottom:2em;
}
.landingmenu li a {
  text-align:center;
  display:block;
  width:100%;
  height:8em;
  padding:4em 0 1.5em 0;
}
.landingmenu li a:hover,
.basemenu li a:hover {
  color:darken($linkColor, 15%);
  text-decoration:none;
}
.landingmenu [class^="icon-"]:before,
.landingmenu [class*=" icon-"]:before {
  position:absolute;
  font-size:2em;
  top:1.3em;
  left:50%;
  margin-left:-.4em;
  color:$grayDark;
  text-shadow:1px 1px $gray, -1px -1px $black;
}



