/* ==========================================================================
   NAVBAR
   ========================================================================== */
 

// COMMON STYLES
// -------------
.header-main {
  background-color:$joeorange;
  color: $white;
  width:100%;
  @include box-sizing(border-box);
}
.header-content {
  a {
    color: $white;
    &:hover {
      text-decoration: none;
    }
  }
  .logo-container {
    position: relative;
    z-index: 1001;
    .logo {
      float: right;
      margin: 0;
    }
  }
  .title,
  .title-secondary {
    line-height: .5em;
  }
  .title {
    font-size: 2.5em;
    margin: 0;
    padding: .4em 0 0 5%;
  }
  .title-sub {
    font-size: .4em;
  }
  .title-secondary {
    font-size: 2em;
    margin: 0 0 0 1.8em;
    padding: .5em;
  }
}

.header-main-home {
  height:$navbarHeight;
  .menu-link {
    margin-left:-1000px;
  } 
  .logo {
    height:$navbarHeight;
    width:$navbarHeight;
  }
}

.header-main-page {
  height:$navbarBaseHeight;
  .logo {
    height:$navbarBaseHeight;
    width:$navbarBaseHeight;
  }
}

// COLLAPSIBLE NAV
// -------------------------

#nav-home,
#nav-page {
  list-style-type: none;
  @include box-sizing(border-box);
  li {
    @include navButton;
  }
  a {
    color: $linkColor;
    font-family:$sansFontFamily;
    &:hover {
      color:darken($linkColor, 15%);
      text-decoration:none;
    }
  }
}

#nav-home {
  clear: both;
  padding: .5em;
  margin: 0;
  li {
    float: left;
    width: 46%;
    margin: 2%;
    position: relative;
    &:nth-child(n+3) {
      margin-bottom: 2em;
    }
  }
  a {
    font-size: 1.2em;
    display: block;
    width: 100%;
    line-height: 9em;
    height: 8em;
    position: relative;
    z-index: 1;
  }
  [class^="icon-"]:before,
  [class*=" icon-"]:before {
    font-size: 2em;
    top: 1.3em;
    left:50%;
    margin-left:-.4em;
    color:darken(#B3B3B3, 50%);
    text-shadow:1px 1px $gray, -1px -1px $black;
    position: absolute;
    z-index: 0;
  }
  .back {
  display: block;
  width: 100%;
  position: relative;
  a {
      background: transparent;
      border: 0;
      display: block;
      height: auto;
      line-height: 1;
      position: absolute;
      text-indent: -999em;
      z-index: 0;
    }
  }
}


// COLLAPSIBLE NAV
// -------------------------

.menu-link {
  @include menuLink;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1001;
}

body:not(:target) #nav-page {
  margin: 0;
  padding-top: $navbarBaseHeight;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  li {
    float: left;
    width: 25%;
    height: 0;
    overflow: hidden;
    position: relative;
    &:first-child {
      border-left: none;
    }
    &:nth-child(4) {
      border-right: none;
    }
  }
  a {
    font-size: $baseFontSize + .125em;
    width: 100%;
    display: inline;
    float: left;
    overflow: hidden;
    height: 0;
    line-height: 0;
    padding: 0;
    position: relative;
  }
  [class^="icon-"]:before,
  [class*=" icon-"]:before {
    top:.5em;
    left:50%;
    margin-left:-.4em;
    color:darken(#B3B3B3, 50%);
    text-shadow:1px 1px $gray, -1px -1px $black;
    position: absolute;
  }
}
body:not(:target) #nav-page:target {
  z-index: 1001;
  li {
    height: auto;
    overflow: visible;
  }
  a {
    font-size: .8em;
    line-height: 7em;
    height: 5em;
    position: relative;
    border-right: solid 1px $gray;
    border-left:solid 1px $grayDark;
    z-index: 1;
    @include transition(height .25s, line-height .25s);
  }
  [class^="icon-"]:before,
  [class*=" icon-"]:before {
    top:.5em;
    left:50%;
    font-size: 1.5em;
    margin-left:-.4em;
    color:darken(#B3B3B3, 50%);
    text-shadow:1px 1px $gray, -1px -1px $black;
    z-index: 1;
    position:absolute;
  }
  .back {
    display: block;
    width: 100%;
    position: relative;
    a {
    background: transparent;
    border: 0;
    display: block;
    height: auto;
    line-height: 1;
    position: absolute;
    top: -101em;
    bottom: -101em;
    left: 0;
    right: 0;
    text-indent: -999em;
    z-index: 0;
    }
  }
}