//
// Navbars (Redux)
// --------------------------------------------------


// COMMON STYLES
// -------------

// Base class and wrapper
.navbar {
  overflow: visible;
  margin-bottom: $baseLineHeight;
  color: $navbarText;

  // Fix for IE7's bad z-indexing so dropdowns don't appear below content that follows the navbar
  *position: relative;
  *z-index: 2;
}

// Inner for background effects
// Gradient is applied to its own element because overflow visible is not honored by IE when filter is present
.navbar-inner {
  height: $navbarHeight;
  padding-left:  20px;
  padding-right: 20px;
  @include gradient-vertical($navbarBackgroundHighlight, $navbarBackground);
  border: 1px solid $navbarBorder;
  @include border-radius(4px);
  @include box-shadow(0 1px 4px rgba(0,0,0,.065));
}
.base .navbar-inner {
  height: $navbarBaseHeight;
  padding-left:  20px;
  padding-right: 20px;
  @include gradient-vertical($navbarBackgroundHighlight, $navbarBackground);
  @include border-radius(4px);
  @include box-shadow(#{0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1)});
}

// Set width to auto for default container
// We then reset it for fixed navbars in the #gridSystem mixin
.navbar .container {
  width: auto;
}

// Override the default collapsed state
.nav-collapse.collapse {
    height: auto;
  	background-color: $grayDarker;
}


// Brand: website or project name
// -------------------------
.navbar .brand {
    float: left;
    display: block;
    // Vertically center the text given $navbarHeight
    height: 100%;
    // padding: (($navbarHeight - $elementHeight) / 2 - 2) 20px (($navbarHeight - $elementHeight) / 2 + 2);
    // margin-left: -20px; // negative indent to left-align the text down the page
    font-size: $navFontSize;
    font-weight: normal;
    line-height: .5em;
    color: $navbarBrandColor;
	padding: .4em 20px;
	margin: 0 0 0 -5px;
}

.brand-base {
    float: left;
    display: block;
    // Vertically center the text given $navbarHeight
    height: 100%;
    // padding: (($navbarHeight - $elementHeight) / 2 - 2) 20px (($navbarHeight - $elementHeight) / 2 + 2);
    // margin-left: -20px; // negative indent to left-align the text down the page
    font-size: (($navFontSize) - 1);
    font-weight: normal;
    line-height: .2em;
    color: $navbarBrandColor;
	padding: .6em 20px;
    margin: 0 0 0 3px;
  }
  
  .sub-head {
	  font-size: 16px;
	  padding-top: 0px;
  }
  .brand img {
	  padding-right: 10px;
  }
  

  .logo-head {
	  float: 	right;
	  height: 	$elementHeight;
	  width: 	$elementHeight;
  }
  .logo-head-base {
	  float:	left;
	  height: 	$navbarBaseHeight;
	  width: 	$navbarBaseHeight;
  }

// Plain text in topbar
// -------------------------
.navbar-text {
  margin-bottom: 0;
  line-height: $navbarHeight;
}

// Janky solution for now to account for links outside the .nav
// -------------------------
.navbar-link {
  color: $navbarLinkColor;
  &:hover {
    color: $navbarLinkColorHover;
  }
}

// Dividers in navbar
// -------------------------
.navbar .divider-vertical {
  height: $navbarHeight;
  margin: 0 9px;
  border-left: 1px solid $navbarBackground;
  border-right: 1px solid $navbarBackgroundHighlight;
}

// Buttons in navbar
// -------------------------
.navbar .btn,
.navbar .btn-group {
  @include navbarVerticalAlign(28px); // Vertically center in navbar
}
.navbar .btn-group .btn {
  margin: 0; // then undo the margin here so we don't accidentally double it
}

// JOE ADD
.base .nav > li+li ,
.base .menu > li+li  {
	 border-left: solid 1px $gray;
    
}

  // Account for brand name
  .navbar .brand {
    padding: .4em 20px;
    margin: 0 0 0 -5px;
  }
  .navbar .brand-base {
	padding: .6em 20px;
    margin: 0 0 0 3px;
  }
  
  
  #menu-landing-menu {
	  margin: .5em auto;
	  width: 98%;
  }
  .landingmenu .btn {
	padding:0px;
	margin:0px;
  } 

  .landingmenu .btn a,
  .landingmenu .btn a:hover {
	text-decoration: none;

  }
  
    .basemenu .btn {
	display: block;
    font-size: 1.2em;
	xxfont-family: $headingsFontFamily;
	line-height: 1em;
    padding: 40px 14px;
    margin: 2%;
	@include box-sizing(border-box);
	width:46%;
	float:left;
	height: 140px;
  }


  .basemenu .btn a,
  .basemenu .btn a:hover {
	text-decoration: none;
  }

  .landingbody {
	  background: url(../_img/bg.gif);
  }
  
    .navbar li {
	color: $joeorange;

}
  
  .navbar i {
	font-size: 2.2em;
	color: #D6D6D6;
	text-shadow: 1px 1px $gray, -1px -1px $black;
}
	.base i {
		font-size: $baseFontSize;
		display: inline;
		line-height: .01em;
	}
.basemenu i {
		font-size: $baseFontSize;
		display: inline;
		line-height: 1em;
		padding-left: 15px;
	}
	.base p {
		padding: 0px;
		margin: 0px;
		float: left;
	}
	.navbar .navbtn {
		font-size: 2em;
	}

// Navbar forms
.navbar-form {
  margin-bottom: 0; // remove default bottom margin
  @include clearfix();
  input,
  select,
  .radio,
  .checkbox {
    @include navbarVerticalAlign(30px); // Vertically center in navbar
  }
  input,
  select,
  .btn {
    display: inline-block;
    margin-bottom: 0;
  }
  input[type="image"],
  input[type="checkbox"],
  input[type="radio"] {
    margin-top: 3px;
  }
  .input-append,
  .input-prepend {
    margin-top: 6px;
    white-space: nowrap; // preven two  items from separating within a .navbar-form that has .pull-left
    input {
      margin-top: 0; // remove the margin on top since it's on the parent
    }
  }
}

// Navbar search
.navbar-search {
  position: relative;
  float: left;
  @include navbarVerticalAlign(30px); // Vertically center in navbar
  margin-bottom: 0;
  .search-query {
    margin-bottom: 0;
    padding: 4px 14px;
    @include font-sans-serif(13px, normal, 1);
    @include border-radius(15px); // redeclare because of specificity of the type attribute
  }
}



// Static navbar
// -------------------------

.navbar-static-top {
  position: static;
  width: 100%;
  margin-bottom: 0; // remove 18px margin for default navbar
  .navbar-inner {
    @include border-radius(0);
  }
}



// Fixed navbar
// -------------------------

// Shared (top/bottom) styles
.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: $zindexFixedNavbar;
  margin-bottom: 0; // remove 18px margin for default navbar
}
.navbar-fixed-top,
.navbar-fixed-bottom,
.navbar-static-top {
  .navbar-inner {
    border: 0;
  }
}
.navbar-fixed-top .navbar-inner,
.navbar-fixed-bottom .navbar-inner {
  padding-left:  0;
  padding-right: 0;
  @include border-radius(0);
}

// Reset container width
// Required here as we reset the width earlier on and the grid mixins don't override early enough
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  @include grid-core-span($gridColumns, $gridColumnWidth, $gridGutterWidth);
}

// Fixed to top
.navbar-fixed-top {
  top: 0;
}
.navbar-fixed-top,
.navbar-static-top {
  .navbar-inner {
    @include box-shadow(#{inset 0 -1px 0 rgba(0,0,0,.1), 0 1px 10px rgba(0,0,0,.1)});
  }
}

// Fixed to bottom
.navbar-fixed-bottom {
  bottom: 0;
  .navbar-inner {
    @include box-shadow(#{inset 0 1px 0 rgba(0,0,0,.1), 0 -1px 10px rgba(0,0,0,.1)});
  }
}



// NAVIGATION
// ----------

.navbar .nav {
  position: relative;
  left: 0;
  display: block;
  float: left;
  
}
.navbar .nav.pull-right {
  float: right; // redeclare due to specificity
}
.navbar .nav > li {
  float: left;
}

.navbar .landingmenu  .nav > li,
.navbar .landingmenu  .menu > li {
	display: block;
    font-size: 1.2em;
	line-height: 1em;
    margin: 1%;
	@include box-sizing(border-box);
	float:left;
	width:48%;
	height: 140px;
}
.navbar .basemenu  .nav > li,
.navbar .basemenu  .menu > li {
	display: block;
    font-size: 1.2em;
	line-height: 1em;
    padding: 10px 0;
    margin: 0px;
	@include box-sizing(border-box);
	float:left;
	width:25%;
	height: auto;
}

// Links
.navbar .nav > li > a,
.navbar .menu > li > a {
  float: left;
  // Vertically center the text given $navbarHeight
  $elementHeight: 20px;
  padding: (($navbarHeight - $elementHeight) / 2 - 2) 10px (($navbarHeight - $elementHeight) / 2 + 5);
  line-height: 19px;
  color: $joeorange;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0,0,0,.25);
  @include box-sizing(border-box);
  width: auto;
  text-align: center;
}
.navbar .landingmenu > li > a,
.navbar .landingmenu .menu > li > a {
  float: none;
  // Vertically center the text given $navbarHeight
  $elementHeight: 20px;
  padding: (($navbarHeight - $elementHeight) / 2 - 1) 10px (($navbarHeight - $elementHeight) / 2 + 1);
  line-height: 19px;
  color: $joeorange;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0,0,0,.25);
  width: 100%;
  height: 100%;
}
.navbar .basemenu > li > a,
.navbar .basemenu .menu > li > a {
  font-size: ($baseFontSize - 2);
  float: none;
  color: $joeorange;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0,0,0,.25);
  padding: 0px;
  margin: 0px;
}
.navbar .nav .dropdown-toggle .caret {
  
}

// Hover
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  background-color: $navbarLinkBackgroundHover; // "transparent" is default to differentiate :hover from .active
  color: $navbarLinkColorHover;
  text-decoration: none;
}

// Active nav items
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: $navbarLinkColorActive;
  text-decoration: none;
  background-color: $navbarLinkBackgroundActive;
  -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.125);
     -moz-box-shadow: inset 0 3px 8px rgba(0,0,0,.125);
          box-shadow: inset 0 3px 8px rgba(0,0,0,.125);
}

// Navbar button for toggling navbar items in responsive layouts
// These definitions need to come after '.navbar .btn'
.navbar .btn-navbar {
  display: none;
  float: right;
  padding: 1px 10px 2px 10px;
  margin: 3px 5px 0px 5px;
  @include buttonBackground($gray, $grayDarker);
  @include box-shadow(#{inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075)});
}
.navbar .btn-navbar .icon-bar {
  display: block;
  width: 18px;
  height: 2px;
  background-color: #f5f5f5;
  @include border-radius(1px);
  @include box-shadow(0 1px 0 rgba(0,0,0,.25));
}
.btn-navbar .icon-bar + .icon-bar {
  margin-top: 3px;
}



// Dropdown menus
// --------------

// Menu position and menu carets
.navbar .nav > li > .dropdown-menu {
  &:before {
    content: '';
    display: inline-block;
    border-left:   7px solid transparent;
    border-right:  7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: $dropdownBorder;
    position: absolute;
    top: -7px;
    left: 9px;
  }
  &:after {
    content: '';
    display: inline-block;
    border-left:   6px solid transparent;
    border-right:  6px solid transparent;
    border-bottom: 6px solid $dropdownBackground;
    position: absolute;
    top: -6px;
    left: 10px;
  }
}
// Menu position and menu caret support for dropups via extra dropup class
.navbar-fixed-bottom .dropdown-menu {
  &:before {
    border-top: 7px solid #ccc;
    border-top-color: $dropdownBorder;
    border-bottom: 0;
    bottom: -7px;
    top: auto;
  }
  &:after {
    border-top: 6px solid $dropdownBackground;
    border-bottom: 0;
    bottom: -6px;
    top: auto;
  }
}

// Remove background color from open dropdown
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: $navbarLinkBackgroundActive;
  color: $navbarLinkColorActive;
}
.navbar .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: $navbarLinkColor;
  border-bottom-color: $navbarLinkColor;
}
.navbar .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: $navbarLinkColorActive;
  border-bottom-color: $navbarLinkColorActive;
}

// Right aligned menus need alt position
.navbar .pull-right > li > .dropdown-menu,
.navbar .nav > li > .dropdown-menu.pull-right {
  left: auto;
  right: 0;
  &:before {
    left: auto;
    right: 12px;
  }
  &:after {
    left: auto;
    right: 13px;
  }
  .dropdown-menu {
    left: auto;
    right: 100%;
    margin-left: 0;
    margin-right: -1px;
    @include border-radius(6px 0 6px 6px);
  }
}


// Inverted navbar
// -------------------------

.navbar-inverse {
  color: $navbarInverseText;

  .navbar-inner {
    @include gradient-vertical($navbarInverseBackgroundHighlight, $navbarInverseBackground);
    border-color: $navbarInverseBorder;
  }

  .brand,
  .nav > li > a {
    color: $navbarInverseLinkColor;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    &:hover {
      color: $navbarInverseLinkColorHover;
    }
  }

  .nav > li > a:focus,
  .nav > li > a:hover {
    background-color: $navbarInverseLinkBackgroundHover;
    color: $navbarInverseLinkColorHover;
  }

  .nav .active > a,
  .nav .active > a:hover,
  .nav .active > a:focus {
    color: $navbarInverseLinkColorActive;
    background-color: $navbarInverseLinkBackgroundActive;
  }

  // Inline text links
  .navbar-link {
    color: $navbarInverseLinkColor;
    &:hover {
      color: $navbarInverseLinkColorHover;
    }
  }

  // Dividers in navbar
  .divider-vertical {
    border-left-color: $navbarInverseBackground;
    border-right-color: $navbarInverseBackgroundHighlight;
  }

  // Dropdowns
  .nav li.dropdown.open > .dropdown-toggle,
  .nav li.dropdown.active > .dropdown-toggle,
  .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: $navbarInverseLinkBackgroundActive;
    color: $navbarInverseLinkColorActive;
  }
  .nav li.dropdown > .dropdown-toggle .caret {
    border-top-color: $navbarInverseLinkColor;
    border-bottom-color: $navbarInverseLinkColor;
  }
  .nav li.dropdown.open > .dropdown-toggle .caret,
  .nav li.dropdown.active > .dropdown-toggle .caret,
  .nav li.dropdown.open.active > .dropdown-toggle .caret {
    border-top-color: $navbarInverseLinkColorActive;
    border-bottom-color: $navbarInverseLinkColorActive;
  }

  // Navbar search
  .navbar-search {
    .search-query {
      color: $white;
      background-color: $navbarInverseSearchBackground;
      border-color: $navbarInverseSearchBorder;
      @include box-shadow(#{inset 0 1px 2px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.15)});
      @include transition(none);
      @include placeholder($navbarInverseSearchPlaceholderColor);

      // Focus states (we use .focused since IE7-8 and down doesn't support :focus)
      &:focus,
      &.focused {
        padding: 5px 15px;
        color: $grayDark;
        text-shadow: 0 1px 0 $white;
        background-color: $navbarInverseSearchBackgroundFocus;
        border: 0;
        @include box-shadow(0 0 3px rgba(0,0,0,.15));
        outline: 0;
      }
    }
  }

  // Navbar collapse button
  .btn-navbar {
    @include buttonBackground(darken($navbarInverseBackgroundHighlight, 5%), darken($navbarInverseBackground, 5%));
  }

}
