//
// Navbars 
// --------------------------------------------------


// COMMON STYLES
// -------------
.topbar {
  background:$joeorange;
  float:right;
  width:100%;
  height:$navbarHeight; 
  @include box-sizing(border-box);
}
.landingmenu {
  clear:both;
}

// TYPE / IMG
// -------------
.logo-head img,
.logo-head-base img{
  height:$navbarHeight;
  width:$navbarHeight;
  float:right;
}

.brand-text h1 {
  font-size:2em; 
  margin:0;
  line-height:1em;
}


// COLLAPSIBLE NAV
// -------------------------

a.menu-link{
  display: block;
  color:$white;
  background-color:$black;
  height:100%;
  width:40em; 
  padding: 1em;
  float:left;
  @include box-sizing(border-box);
}
a.menu-link:hover {
  text-decoration:none;
}

nav[role=navigation] {
  clear: both;
  @include transition(all 0.3s ease-out);
}
.js nav[role=navigation] {
  overflow: hidden;
  max-height: 0;
  margin-top:0px;
  float:left;
  width:100%;
}
nav[role=navigation].active {
  max-height: 15em;
  margin-top:0px;
  width:100%;
}
.container-fluid.active {
  margin-top:0px;
}
nav[role=navigation] ul {
  margin: 0;
  padding: 0;
  border-top: 1px solid #808080;
}
nav[role=navigation] li a {
  color:$joeorange;
  display: block;
  padding: 0.8em;
  border-bottom: 1px solid #808080;
}


