/* ==========================================================================
   NAVBAR
   ========================================================================== */
 

// COMMON STYLES
// -------------
.header-main {
  background-color:$joeorange;
  color: $white;
  width:100%;
  @include box-sizing(border-box);
}
.header-content {
  a {
    color: $white;
    &:hover {
      text-decoration: none;
    }
  }
  .logo-container {
    position: relative;
    z-index: 1001;
    .logo {
      float: right;
      margin: 0;
    }
  }
  .title,
  .title-secondary {
    line-height: .5em;
  }
  .title {
    font-size: 2.5em;
    margin: 0;
    padding: .4em 0 0 5%;
  }
  .title-sub {
    font-size: .4em;
  }
  .title-secondary {
    font-size: 2em;
    margin: 0 0 0 1.8em;
    padding: .5em;
  }
}

.header-main-home {
  height:$navbarHeight;
  width: 100%;
  .menu-link {
    margin-left:-101em;
  } 
  .logo {
    height:$navbarHeight;
    width:$navbarHeight;
  }
}

.header-main-page {
  height:$navbarBaseHeight;
  .logo {
    height:$navbarBaseHeight;
    width:$navbarBaseHeight;
  }
}

// LANDING NAV
// -------------------------

#nav-home,
#nav-page {
  list-style-type: none;
  @include box-sizing(border-box);
  li {
    @include navButton;
  }
  a {
    color: $linkColor;
    font-family:$sansFontFamily;
    &:hover {
      color:darken($linkColor, 15%);
      text-decoration:none;
    }
  }
}

#nav-home {
  position: absolute;
  top: 5em;
  left: 0;
  right: 0;
  padding: .5em;
  margin: 0;
  li {
    float: left;
    width: 46%;
    margin: 2%;
  }
  a {
    display: inline;
    float: left;
    overflow: hidden;
    height: 0;
    line-height: 0;
    font-size: 1em;
    width: 100%;
    padding: 4.5em 0 3.5em;
    position: relative;
  }
  .icon-user::before,
  .icon-pencil::before,
  .icon-briefcase::before,
  .icon-comment::before {
    margin-left:-.4em;
    color:darken(#B3B3B3, 50%);
    text-shadow:1px 1px $gray, -1px -1px $black;
    position: absolute;
    font-size: 2em;
    left: 50%;
    top: 1.4em;
  }
  .back {
  position: absolute;
  left: -101em;
  a {
      position: static;
    }
  }
}

  body:not(:target) #nav-page {
  margin: 0;
  padding-top: $navbarBaseHeight;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  li {
    float: left;
    width: 25%;
    height: 0;
    overflow: hidden;
    position: relative;
    &:first-child {
      border-left: none;
    }
    &:nth-child(4) {
      border-right: none;
    }
  }
  a {
    font-size: $baseFontSize + .125em;
    width: 100%;
    display: inline;
    float: left;
    overflow: hidden;
    height: 0;
    line-height: 0;
    padding: 0;
    position: relative;
    @include transition(height .25s);
  }
}
body:not(:target) #nav-page:target {
  z-index: 1001;
  li {
    height: auto;
    text-align: center;
    overflow: visible;
  }
  .icon-user::before,
  .icon-pencil::before,
  .icon-briefcase::before,
  .icon-comment::before {
    display: block;
    font-size: 2em;
    color:darken(#B3B3B3, 50%);
    text-shadow:1px 1px $gray, -1px -1px $black;
  }
  a {
    clear: left;
    font-size: .8em;
    line-height: 1.6em;
    padding-top: 1em;
    height: 4em;
    position: relative;
    border-right: solid 1px $gray;
    border-left:solid 1px $grayDark;
    z-index: 1;
    @include transition(height .25s);
  }
  .back {
    display: block;
    width: 100%;
    position: relative;
    a {
    background: transparent;
    border: 0;
    display: block;
    height: auto;
    line-height: 1;
    position: absolute;
    top: -101em;
    bottom: -101em;
    left: 0;
    right: 0;
    text-indent: -999em;
    z-index: 0;
    }
  }
}
.no-textshadow {
  #nav-page,
  #nav-home {
    .icon-user::before,
    .icon-pencil::before,
    .icon-briefcase::before,
    .icon-comment::before {
      color: $gray;
    }
  }
}


// COLLAPSIBLE NAV
// -------------------------

.menu-link {
  @include menuLink;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1001;
}

.menu-link-left,
.menu-link-right {
  font-size: .8em;
  font-weight: bold;
  font-family:$sansFontFamily;
  color: $grayDarker;
  text-transform: uppercase;
  text-shadow: 0 1px 1px $white;
  text-align: center;
  margin: 0;
  padding: .2em .8em;
  @include border-radius(.5em);
  @include box-shadow(white 0 1px 0, rgba(0, 0, 0, 0.5) 0 1px 3px 0px inset);
  background: $white;
  background-color: rgba(0, 0, 0, 0.04);
  top: 11em;
  @include box-sizing(border-box);
  @include transition(background-color .5s ease-out);
  &:hover {
    color: $linkColor;
    text-shadow: none;
    background-color: $grayDarker;
    text-decoration: none;
    @include transition(background-color .5s ease-out);
  }
}