/* ==========================================================================
   RESPONSIVE UTILITIES
   ========================================================================== */


// Clearing floats
.clearfix {
  @include clearfix();
}

// Accessible yet invisible text
.hide-text {
  @include hide-text();
}

// Uses box-sizing mixin, so must be defined here
.input-block-level {
  @include input-block-level();
}

// Hide from screenreaders and browsers
// Credit: HTML5 Boilerplate
.hidden {
  display: none;
  visibility: hidden;
}

// Visibility utilities
// Initial styles found under scaffolding.scss

// Tablets & small desktops only
@media (min-width: 41.26em) and (max-width: 61.99em) {
  .hidden-large {
    position:absolute;
    z-index:-1000;
    left:-9999px;
  }
  .hidden-small {
    position:static;
  }
}


// Phones only
@media (min-width: 62em) {
    #main .hidden-large {
    position:absolute;
    z-indez:-1000;
    left:-9999px;
  }
  .hidden-small,
  .hidden-medium,
  .visible-desktop {
    position:static;
    z-index:auto;
  }

}
