/* ==========================================================================
   RESPONSIVE: 62em MIN
   ========================================================================== */


@media (min-width: 62em) {
  //
  // Responsive: scaffolding
  // --------------------------------------------------

  .site-content {
    min-height:30em;
    max-width: 100%;
    padding: 2em;
    margin: 0 11%;
    background-color: $grayLighter;
    .content,
    .widget-area {
      max-width: 40em;
      margin:$fluidGridGutterWidth auto;
      text-shadow: 0 1px 1px white;
    }
  }
  .site-footer {
    clear: both;
    @include navButtonNoHov;
    .footer-widget-wrap-one,
    .footer-widget-wrap-two {
      @include display-box;
      @include box-orient(horizontal);
      @include box-align(stretch);
      @include box-direction(normal);
      height: auto;
      width: 50%;
      float: left;
      .widget-area {
        float: none;
        @include box-flex(1);
        flex-flow: column;
      }
    }
  }
  // .footer {
  //   width: auto;
  //   position: static;
  //   margin-left: 0px;
  //   line-height: 1;
  //   padding: 0 0.5em;
  //   .container {
  //     margin:0px;
  //   }
  // }
  .content-loop {
    margin: 0 11%;
    a {
      width: 31%;
    }
  }



  //
  // Responsive: grid
  // --------------------------------------------------

  //
  // Responsive: layouts
  // --------------------------------------------------

  //
  // Responsive: type
  // --------------------------------------------------

  .content,
  .sidebar {
    h1 {
      font-size:3em;
      margin-bottom:.5em;
    }
    h2 {
      font-size:2.4em;
      margin-bottom:.5em;
    }
  }

  //
  // Responsive: buttons
  // --------------------------------------------------

  //
  // Responsive: navbar 
  // --------------------------------------------------

  //
  // Responsive: thumbnails
  // --------------------------------------------------

  //
  // Responsive: utilities
  // ----------------

}
