/* ==========================================================================
   RESPONSIVE: 62em MIN
   ========================================================================== */


@media screen and (min-width: 62em) {
  //
  // Responsive: scaffolding
  // --------------------------------------------------

  .site-content {
    font-size: 1.2em;
    min-height:30em;
    max-width: 100%;
    padding: 2em;
    margin: 0 11%;
    background-color: $grayLighter;
    .content
    // ,
    // .widget-area 
    {
      max-width: 40em;
      margin:$fluidGridGutterWidth auto;
      text-shadow: 0 1px 1px white;
    }
  }
  .footer-landing {
    margin: 0;
  }
  .site-footer {
    clear: both;
    @include navButtonNoHov;
    .footer-widget-wrap-one,
    .footer-widget-wrap-two {
      @include display-box;
      @include box-orient(horizontal);
      @include box-align(stretch);
      @include box-direction(normal);
      height: auto;
      width: 50%;
      float: left;
      .widget-area {
        float: none;
        @include box-flex(1);
        flex-flow: column;
      }
    }
  }
  // .footer {
  //   width: auto;
  //   position: static;
  //   margin-left: 0px;
  //   line-height: 1;
  //   padding: 0 0.5em;
  //   .container {
  //     margin:0px;
  //   }
  // }
  .content-loop,
  .some-loop {
    margin: 0 11%;
    h2 {
      font-size: 1.8em;
    }
    p {
      font-size: .9em;
    }
    a {
      width: 31%;
    }
  }
  .btn-some {
    margin: 0 13%;
  }
  .entry-content {
    .home-call-out {
      font-size: 2em;
      padding-bottom: .6em;
    }
    .home-call-out-bg {
      // margin: 1em;
      // padding-top: 10em;
      // background-image: url('http://www.joesnellpdx.com/wp-content/uploads/2012/09/joeheadshot.png');
      // background-size: cover;
      // moz-background-size: cover;  /* Firefox 3.6 */
      // background-position: center;  /* Internet Explorer 7/8 */
    }
    .home-call-out-btn {
      width: 82%;
    }
  }



  //
  // Responsive: grid
  // --------------------------------------------------

  //
  // Responsive: layouts
  // --------------------------------------------------

  //
  // Responsive: type
  // --------------------------------------------------

  .content,
  .sidebar {
    h1 {
      font-size:3em;
      margin-bottom:.5em;
    }
    h2 {
      font-size:2.4em;
      margin-bottom:.5em;
    }
  }
  .icons-responsive {
    i {
      font-size: 1.5em;
      &:nth-child(2n+1) {
        font-size: 3em;
        padding: .15em;
      }
    }
  }

  //
  // Responsive: buttons
  // --------------------------------------------------

  //
  // Responsive: navbar 
  // --------------------------------------------------

  //
  // Responsive: thumbnails
  // --------------------------------------------------

  .alignright {
    float:right;
    margin: 5px 0 20px 20px;
  }

  .alignleft {
      float: left;
      margin: 5px 20px 20px 0;
  }
  
  a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
    max-width: 50%;
  }

  a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
    max-width: 50%;
  }

  //
  // Responsive: utilities
  // ----------------

}
