/* ==========================================================================
   RESPONSIVE: 75em MIN
   ========================================================================== */


@media screen and (min-width: 75em) {
  //
  // Responsive: scaffolding
  // --------------------------------------------------

  .site-content {
    font-size: 1.4em;
  }
  .content-loop a {
    width:23%;
  }
  .some-loop article {
    width: 23%;
  }
  .entry-content {
    .home-call-out-bg {
      min-height: 4.8em;
    }
  }

  //
  // Responsive: grid
  // --------------------------------------------------

  //
  // Responsive: layouts
  // --------------------------------------------------

  //
  // Responsive: type
  // --------------------------------------------------

  //
  // Responsive: buttons
  // --------------------------------------------------

  //
  // Responsive: navbar 
  // --------------------------------------------------

  //
  // Responsive: thumbnails
  // --------------------------------------------------

  //
  // Responsive: utilities
  // ----------------

  // Fixed grid
  @include grid-core($gridColumnWidth1200, $gridGutterWidth1200);

  // Fluid grid
  @include grid-fluid($fluidGridColumnWidth1200, $fluidGridGutterWidth1200);

  // Input grid
  @include grid-input($gridColumnWidth1200, $gridGutterWidth1200);

  // Thumbnails
  .thumbnails {
    margin-left: -$gridGutterWidth1200;
  }
  .thumbnails > li {
    margin-left: $gridGutterWidth1200;
  }
  .row-fluid .thumbnails {
    margin-left: 0;
  }

  

}
