/* ==========================================================================
   RESPONSIVE: 62em MIN
   ========================================================================== */


@media (min-width: 62em) {
  //
  // Responsive: scaffolding
  // --------------------------------------------------

  .main {
    overflow:visible;
  }
  .wrap {
    background-color:$grayLight;
  }
  .site-content {
    min-height:30em;
    max-width: auto;
    padding: 2em;
    margin: 0 11%;
    background-color: $grayLighter;
    .content,
    .widget-area {
      margin-top:$fluidGridGutterWidth;
      text-shadow: 0 1px 1px white;
      article
      .content-landing {
        max-width:47em;
      }
    }
    .content,
    .content-loop {
      margin:0 11%;
    }
    .content-loop a {
      width:31%;
    }
    .sidebar {
      background-color:$gray;
      padding: 8em 1em 1em;
      @include box-shadow (2px 0px 10px black inset);
      @include box-sizing(border-box);
      overflow: scroll;
      .widget-area {
        padding:$gridGutterWidth;
        @include box-shadow (white 0 1px 0, rgba(0, 0, 0, 0.9) 0 1px 3px 0px inset);
      }
    }
    .footer {
      width: auto;
      position: static;
      margin-left: 0px;
      line-height: 1;
      padding: 0 0.5em;
      .container {
        margin:0px;
      }
    }
  }



  //
  // Responsive: grid
  // --------------------------------------------------

  //
  // Responsive: layouts
  // --------------------------------------------------

  //
  // Responsive: type
  // --------------------------------------------------

  .content,
  .sidebar {
    h1 {
      font-size:3em;
      margin-bottom:.5em;
    }
    h2 {
      font-size:2.4em;
      margin-bottom:.5em;
    }
    h3 {
      font-size:2em;
      margin-bottom:.5em;
    }
  }

  //
  // Responsive: buttons
  // --------------------------------------------------

  //
  // Responsive: navbar 
  // --------------------------------------------------

  //
  // Responsive: thumbnails
  // --------------------------------------------------

  //
  // Responsive: utilities
  // ----------------

}
