/* ==========================================================================
   RESPONSIVE 41.25em MAX
   ========================================================================== */


@media screen and (max-width: 41.25em) {
  //
  // Responsive: scaffolding
  // --------------------------------------------------


  //
  // Responsive: grid
  // --------------------------------------------------

  //
  // Responsive: layouts
  // --------------------------------------------------

  //
  // Responsive: type
  // --------------------------------------------------

  //
  // Responsive: buttons
  // --------------------------------------------------

  //
  // Responsive: navbar 
  // --------------------------------------------------

  //
  // Responsive: thumbnails
  // --------------------------------------------------

  //
  // Responsive: utilities
  // ----------------

  // Padding to set content in a bit
    // Remove padding on container given explicit padding set on body


  // TYPOGRAPHY
  // ----------
 

  // GRID & CONTAINERS
  // -----------------
  // Remove width from containers
  .container {
    width: auto;
  }
  // Fluid rows

  // Undo negative margin on rows and thumbnails
  .row,
  .thumbnails {
    margin-left: 0;
  }
  .thumbnails > li {
    float: none;
    margin-left: 0; // Reset the default margin for all li elements when no .span* classes are present
  }
  // Make all grid-sized elements block level again
  [class*="span"],
  .row-fluid [class*="span"] {
    float: none;
    display: block;
    width: auto;
    margin-left: 0;
  }

  // FORM FIELDS
  // -----------
  // Make span* classes full width
  .input-large,
  .input-xlarge,
  .input-xxlarge,
  input[class*="span"],
  select[class*="span"],
  textarea[class*="span"],
  .uneditable-input {
    @include input-block-level();
  }
  // But don't let it screw up prepend/append inputs
  .input-prepend input,
  .input-append input,
  .input-prepend input[class*="span"],
  .input-append input[class*="span"] {
    display: inline-block; // redeclare so they don't wrap to new lines
    width: auto;
  }

  // Modals
  .modal {
    position: fixed;
    top:   1.25em;
    left:  1.25em;
    right: 1.25em;
    width: auto;
    margin: 0;
    &.fade.in { top: auto; }
  }
  @media screen and (min-height: 32.31em) {
    .footer-landing {
      position: fixed;
      bottom: 0;
      right: 0;
      left: 0;
    }
  }
}

@media screen and (min-width: 30em) and (max-width: 41.25em) {
  //
  // Responsive: scaffolding
  // --------------------------------------------------
  .entry-content {
    .home-call-out {
      font-size: 2em;
    }
    .home-call-out-bg {
      // margin: 1em;
      // padding-top: 10em;
      // background-image: url('http://www.joesnellpdx.com/wp-content/uploads/2012/09/joeheadshot.png');
      // background-size: cover;
      // moz-background-size: cover;  /* Firefox 3.6 */
      // background-position: center;  /* Internet Explorer 7/8 */
    }
    .home-call-out-btn {
      width: 82%;
    }
  }
}

// UP TO LANDSCAPE PHONE
// ---------------------

@media screen and (max-width: 30em) {

  // .home-call-out {
  //   width: 33%;
  //   min-width: 33%;
  //   padding-bottom: .5em;
  // }

  // .home-call-out-bg {
  //   margin: .5em;
  //   padding-top: 7em;
  //   @include respond-to(small, false) {
  //     background-image: url('http://www.joesnellpdx.com/wp-content/uploads/2013/02/joe-headshot-mobile-first.png');
  //   }
  //   @include respond-to(smal, true) {
  //     background-image: url('http://www.joesnellpdx.com/wp-content/uploads/2013/01/ToggleNavNoJSFeatured.png');
  //   }
  //   background-size: cover;
  //   moz-background-size: cover;  /* Firefox 3.6 */
  //   background-position: center;  /* Internet Explorer 7/8 */
  // }
  // .home-call-out-btn {
  //   font-size: 1em;
  //   width: 88%;
  // }

  // Smooth out the collapsing/expanding nav

  // Block level the page header small tag for readability

  // Update checkboxes for iOS
  input[type="checkbox"],
  input[type="radio"] {
    border: 1px solid #ccc;
  }


  // Modals
  .modal {
    top:   .625em;
    left:  .625em;
    right: .625em;
  }
  .modal-header .close {
    padding: .625em;
    margin: -.625em;
  }

  // Carousel
  .carousel-caption {
    position: static;
  }


}
