//
// Responsive: Tablet to desktop
// --------------------------------------------------


@media (min-width: 768px) and (max-width: 979px) {

  // Fixed grid
  @include grid-core($gridColumnWidth768, $gridGutterWidth768);

  // Fluid grid
  @include grid-fluid($fluidGridColumnWidth768, $fluidGridGutterWidth768);

  // Input grid
  @include grid-input($gridColumnWidth768, $gridGutterWidth768);

  // No need to reset .thumbnails here since it's the same $gridGutterWidth
  
    #masthead {
	padding: 	40px 20px;
    margin-top:   -20px; /* Offset bottom margin on .navbar */
    margin-right: -20px;
    margin-left:  -20px;
	  
  }
  #masthead h1 {
    font-size: 90px;
  }
  #masthead p,
  #masthead .btn {
    font-size: 24px;
  }

}
