//
// Responsive: Landscape phone to desktop/tablet
// --------------------------------------------------


@media (max-width: 41.25em) {
  //
  // Responsive: scaffolding
  // --------------------------------------------------

  //
  // Responsive: grid
  // --------------------------------------------------

  #content,
  #content-loop {
    margin-left:0px;
  }

  //
  // Responsive: layouts
  // --------------------------------------------------

  //
  // Responsive: type
  // --------------------------------------------------

  //
  // Responsive: buttons
  // --------------------------------------------------

  //
  // Responsive: navbar 
  // --------------------------------------------------

  //
  // Responsive: thumbnails
  // --------------------------------------------------

  //
  // Responsive: utilities
  // ----------------

  // Padding to set content in a bit
    // Remove padding on container given explicit padding set on body
  .container-fluid {
    padding: 0;
  }

  // TYPOGRAPHY
  // ----------


  // GRID & CONTAINERS
  // -----------------
  // Remove width from containers
  .container {
    width: auto;
  }
  // Fluid rows
  .row-fluid {
    width: 100%;
  }
  // Undo negative margin on rows and thumbnails
  .row,
  .thumbnails {
    margin-left: 0;
  }
  .thumbnails > li {
    float: none;
    margin-left: 0; // Reset the default margin for all li elements when no .span* classes are present
  }
  // Make all grid-sized elements block level again
  [class*="span"],
  .row-fluid [class*="span"] {
    float: none;
    display: block;
    width: auto;
    margin-left: 0;
    padding:1em;
  }
  .span12,
  .row-fluid .span12 {
    width: 100%;
    @include box-sizing(border-box);
  }

  // FORM FIELDS
  // -----------
  // Make span* classes full width
  .input-large,
  .input-xlarge,
  .input-xxlarge,
  input[class*="span"],
  select[class*="span"],
  textarea[class*="span"],
  .uneditable-input {
    @include input-block-level();
  }
  // But don't let it screw up prepend/append inputs
  .input-prepend input,
  .input-append input,
  .input-prepend input[class*="span"],
  .input-append input[class*="span"] {
    display: inline-block; // redeclare so they don't wrap to new lines
    width: auto;
  }

  // Modals
  .modal {
    position: fixed;
    top:   1.25em;
    left:  1.25em;
    right: 1.25em;
    width: auto;
    margin: 0;
    &.fade.in { top: auto; }
  }

}



// UP TO LANDSCAPE PHONE
// ---------------------

@media (max-width: 30em) {

  // Smooth out the collapsing/expanding nav

  // Block level the page header small tag for readability

  // Update checkboxes for iOS
  input[type="checkbox"],
  input[type="radio"] {
    border: 1px solid #ccc;
  }


  // Modals
  .modal {
    top:   .625em;
    left:  .625em;
    right: .625em;
  }
  .modal-header .close {
    padding: .625em;
    margin: -.625em;
  }

  // Carousel
  .carousel-caption {
    position: static;
  }

}
