//
// Responsive: Tablet to desktop
// --------------------------------------------------


@media (min-width: 48em) and (max-width: 61em) { // 768px/16px = 48em - 979px/16px = 61em

  // Fixed grid
  @include grid-core($gridColumnWidth768, $gridGutterWidth768);

  // Fluid grid
  @include grid-fluid($fluidGridColumnWidth768, $fluidGridGutterWidth768);

  // Input grid
  @include grid-input($gridColumnWidth768, $gridGutterWidth768);

  // No need to reset .thumbnails here since it's the same $gridGutterWidth
   
  #menu-primary-navigation {
	margin: 1em auto;
	width: 98%;
  }
  #main {
	  width: 100%;
  }
  .basemenu {
	  max-width: 25em; 
	  margin:0 auto;
	  clear: both;
  }
  
  .basemenu .btn {
	padding:0px;
	margin:0px;
  }
  .basemenu p {
	  float: none;
	  padding-bottom: .625em; 
  }
  
  .navbar .basemenu  .nav > li,
  .navbar .basemenu  .menu > li {
  	display: block;
      font-size: 1.2em;
  	line-height: 1em;
      margin: 1%;
  	@include box-sizing(border-box);
  	float:left;
  	height: 8.75em; 
  	width: 100%;
  	border: none;
  }

  .navbar .basemenu > li > a,
  .navbar .basemenu .menu > li > a {
    float: none;
    // Vertically center the text given $navbarHeight
    $elementHeight: 1.25em; 
    padding: (($navbarHeight - $elementHeight) / 2 - 1) .625em (($navbarHeight - $elementHeight) / 2 + 1);  // 10px/16px = 
    line-height: 1.187em; 
    color: $joeorange;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    width: 100%;
    font-weight: auto;
  }
  .navbar .landingmenu > li > a,
  .navbar .landingmenu .menu > li > a,
  .navbar .basemenu > li > a,
  .navbar .basemenu .menu > li > a {
  	font-size: 1.125em;	
  }

  .basemenu i {
  font-size: 2.2em;
  text-shadow: 1px 1px #555,-1px -1px black;
  display: inline;
  padding: 0px;
  }


    
  .landingmenu,
  .basemenu {
    float: left;
    width: 33.333333%;
  }
  .navbar .landingmenu .nav > li, 
  .navbar .landingmenu .menu > li,
  .navbar .basemenu .nav > li, 
  .navbar .basemenu .menu > li {
    width: 100%;
    padding: 0px;
  }

  .thumbnails {
    margin: 0px;
  }
  #content {
  width: 62%;
  float: left;
  background: $joeBlueLight;
  padding: 2%;
  margin: $baseLineHeight 2% 2% 2%;
  @include box-sizing(border-box);
  }
  .landingbody #content {
    display: none;
  }


}
