/* ==========================================================================
   RESPONSIVE: 41.26em-61.99em
   ========================================================================== */


@media screen and (min-width: 41.26em) and (max-width: 61.99em) { // 768px/16px = 48em - 979px/16px = 61em

  // Fixed grid
  // @include grid-core($gridColumnWidth768, $gridGutterWidth768);

  // // Fluid grid
  // @include grid-fluid($fluidGridColumnWidth768, $fluidGridGutterWidth768);

  // // Input grid
  // @include grid-input($gridColumnWidth768, $gridGutterWidth768);

  // No need to reset .thumbnails here since it's the same $gridGutterWidth
   
  //
  // Responsive: scaffolding
  // --------------------------------------------------

  .site-content {
    margin: $fluidGridGutterWidth $fluidGridGutterWidth 0;
    width: (75% - ($fluidGridGutterWidth * 2));
    float: right;
    @include box-sizing(border-box);
  }
  .content {
    min-height: 40em;
    article {
      min-height: 100%;
    }
  }
  .content-loop,
  .some-loop {
    margin-left: 24%;
    min-height: 36em;
    h2 {
      font-size: 1.8em;
    }
    p {
      font-size: .8em;
    }
  }

.btn-some {
  margin-left: 26%;
}
  .footer-landing {
    margin: 0;
  }

  .site-footer {
    clear: both;
    @include navButtonNoHov;
  .footer-widget-wrap-one,
  .footer-widget-wrap-two {
      @include display-box;
      @include box-orient(horizontal);
      @include box-align(stretch);
      @include box-direction(normal);
      width: 100%;
      .widget-area {
        float: none;
        @include box-flex(1);
        flex-flow: column;
      }
    }
  }


  //
  // Responsive: grid
  // --------------------------------------------------

  //
  // Responsive: layouts
  // --------------------------------------------------

  //
  // Responsive: type
  // --------------------------------------------------

  .icons-responsive {
    i {
      font-size: 1.5em;
      &:nth-child(2n+1) {
        font-size: 4em;
        padding: .15em;
      }
    }
  }

  //
  // Responsive: buttons
  // --------------------------------------------------

  //
  // Responsive: navbar 
  // --------------------------------------------------

  //
  // Responsive: thumbnails
  // --------------------------------------------------

  //
  // Responsive: utilities
  // --------------------------------------------------

}
