//
// Responsive: Tablet to desktop
// --------------------------------------------------


@media (min-width: 768px) and (max-width: 979px) {

  // Fixed grid
  @include grid-core($gridColumnWidth768, $gridGutterWidth768);

  // Fluid grid
  @include grid-fluid($fluidGridColumnWidth768, $fluidGridGutterWidth768);

  // Input grid
  @include grid-input($gridColumnWidth768, $gridGutterWidth768);

  // No need to reset .thumbnails here since it's the same $gridGutterWidth
  
  // adjust base menu to match landingmenu
  
	body,
	.landingbody {
	  background: transparent url(../_img/bg.gif);
  }
  
  #menu-primary-navigation {
	margin: .5em auto;
	width: 98%;
  }
  #main {
	  width: 100%;
  }
  .basemenu {
	  max-width: 400px;
	  margin:0 auto;
	  clear: both;
  }
  
  .basemenu .btn {
	padding:0px;
	margin:0px;
  }
  .basemenu p {
	  float: none;
  }
  
.navbar .basemenu  .nav > li,
.navbar .basemenu  .menu > li {
	display: block;
    font-size: 1.2em;
	line-height: 1em;
    margin: 1%;
	@include box-sizing(border-box);
	float:left;
	height: 140px;
	width: 100%;
	border: none;
}

.navbar .basemenu > li > a,
.navbar .basemenu .menu > li > a {
  float: none;
  // Vertically center the text given $navbarHeight
  $elementHeight: 20px;
  padding: (($navbarHeight - $elementHeight) / 2 - 1) 10px (($navbarHeight - $elementHeight) / 2 + 1);
  line-height: 19px;
  color: $joeorange;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0,0,0,.25);
  width: 100%;
  font-size: 16px;
  font-weight: auto;
}

.basemenu i {
font-size: 2.2em;
color: #D6D6D6;
text-shadow: 1px 1px #555,-1px -1px black;
display: inline;
padding: 0px;
}

  // end menu adjust
  
  #masthead {
	padding: 	40px 20px;
    margin-top:   -20px; /* Offset bottom margin on .navbar */
    margin-right: -20px;
    margin-left:  -20px;
	  
  }
  #masthead h1 {
    font-size: 90px;
  }
  #masthead p,
  #masthead .btn {
    font-size: 24px;
  }
  
  .landingmenu,
  .basemenu {
	  float: left;
	  width: 33.333333%;
  }
  .navbar .landingmenu .nav > li, 
  .navbar .landingmenu .menu > li,
  .navbar .basemenu .nav > li, 
  .navbar .basemenu .menu > li {
	  width: 100%;
  }

  .thumbnails {
	  margin: 0px;
  }
  #content {
	width: 62%;
	float: left;
	background: $joeBlueLight;
	padding: 2%;
	margin: $baseLineHeight 2% 2% 2%;
	@include box-sizing(border-box);
  }
  .landingbody #content {
	  display: none;
  }


}
