//
// Responsive: Tablet to desktop
// --------------------------------------------------


@media (min-width: 62em) {
  //
  // Responsive: scaffolding
  // --------------------------------------------------

  #content {
    margin-top:$gridGutterWidth;
    padding:$gridGutterWidth;
    article {
      max-width:47em;
    }
  }
  .footer {
    margin-left:25.69061%;
    line-height: 1;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    padding: 0 0.5em;
    .container {
      margin:0px;
    }
  }
  #content,
  #content-loop,
  .footer {
    margin-left:11%;
    padding-right:$gridGutterWidth;
    width:90%;
  }
  #content-loop a {
    width:31%;
  }
  .footer {
    width:auto;
  }

  //
  // Responsive: grid
  // --------------------------------------------------

  //
  // Responsive: layouts
  // --------------------------------------------------

  //
  // Responsive: type
  // --------------------------------------------------

  //
  // Responsive: buttons
  // --------------------------------------------------

  //
  // Responsive: navbar 
  // --------------------------------------------------

  //
  // Responsive: thumbnails
  // --------------------------------------------------

  //
  // Responsive: utilities
  // ----------------

}
