/* ==========================================================================
   RESPONSIVE: NAVBAR
   ========================================================================== */
@media screen and (max-width: 41.25em) {

}

// New Navbar

@media screen and (min-width: 41.26em) {
  #nav-home {
    top: 5em;
  }
  body:not(:target) #nav-page {
    top: 3.2em;
  }

  #nav-home,
  body:not(:target) #nav-page {
    position: absolute;
    margin-top: 1.25em;
    margin-left: 0;
    left: 0;
    padding: 0 .5em;
    width: 25%;
    ul {
      margin: 0;
      border: 0;
    }
    li {
      display: inline-block;
      border-left: none;
      border-right: none;
      width: 100%;
      height: auto;
      margin: $fluidGridGutterWidth;
      &:first-child {
        margin-top: 0;
      }
    }
    a {
      font-size: 1em;
      width: 100%;
      padding: 3.5em 0 2.5em;
      position: relative;
      height: inherit;
      line-height: inherit;
    }
    .icon-user:before,
    .icon-pencil:before,
    .icon-briefcase:before,
    .icon-comment:before {
      position: absolute;
      top: 1em;
      left:50%;
      margin-left:-.4em;
      color:darken(#B3B3B3, 50%);
      text-shadow:1px 1px $gray, -1px -1px $black;
    }
    .back {
      position: absolute;
      left: -101em;
      a {
        position: static;
      }
    }
  }
  body:not(:target) #nav-page {
    .icon-user:before,
    .icon-pencil:before,
    .icon-briefcase:before,
    .icon-comment:before {
      font-size: 2em;
    }
  }
}
.no-textshadow {
  body:not(:target) #nav-page,
  body:not(:target) #nav-home {
    .icon-user::before,
    .icon-pencil::before,
    .icon-briefcase::before,
    .icon-comment::before {
      color: $gray;
    }
  }
}



@media screen and (min-width: 62em) {
  
  .header-main {
    height: 8em;
    @include navButtonBackOnly;
    margin-bottom: 8em;
    @include box-shadow(0px 4px 6px $black);
    color: $textColor;
    &:hover {
      color: $textColor;
    }
  }
  .header-content {
    .title,
    .title-secondary {
      font-size: 4em;
      margin-left: 10%;
      padding-top: 1.3em;
      clear: both;
    }
    .title {
      color:$white;
      font-size:2.5em;
      text-shadow: none;
      padding:40px 0 0 0;
      margin:0px;
      width:50%;
      float:left;
      clear:none;
      &:hover {
        color: $white;
      }
    }
    .title-secondary {
      color: $textColor;
      text-shadow: 0 1px 1px white;
    }
    .logo-container {
      position: static;
      width:100px;
      float:left;
      padding:0 ($fluidGridGutterWidth * .5);
      margin:0 0 ($fluidGridGutterWidth *.25) 11%;
      @include box-sizing(border-box);
      .logo {
        width:100%;
        height:auto;
        padding-top:25px;
      }
    }
  }

  // COLLAPSIBLE NAV
  // -------------------------
  .header-content .logo-container {
    position: static;
  }
  .menu-link-left,
  .menu-link-right {
    position: absolute;
    z-index: 1001;
  }
  .menu-link-left {
    left: .875em;
  }
  .menu-link-right {
    left: auto;
    right: .875em;
  }
  .icon-twitter::before,
  .icon-reorder::before {
      margin-right: .5em;
  }

  body {
    position: relative;
    width: 100%;
  }
  body:not(:target) #main,
  body:not(:target) #wrap {
    // width: 100%;
    // margin-left: 0;
    // overflow: visible;
    // z-index: 1000;
    
    position: static;
    z-index: 1000;
    // position: relative;
    // left: 0;
    // right: 0;
    @include transition(left .25s ease-out);
    .back-large-screen {
      display: none;
      text-indent: -101em;
    }
  }
  .css-animations #main {
    width: 100%;
  }
  body:not(:target) #wrap {
    background-color: $grayLight;
  }
  body:not(:target) .sidebar {
    width: 24em;
    background-color: $gray;
    padding: 8em 1em 1em;
    @include box-shadow (2px 0px 10px black inset);
    @include box-sizing(border-box);
    position: absolute;
    right: 0;
    top: 0;
    left: auto;
    z-index: -1;
    @include transition(left .25s ease-out);
    .widget-area {
      padding: $fluidGridGutterWidth;
      background-color: $grayLighter;
      @include box-shadow(white 0 1px 0, rgba(0, 0, 0, 0.9) 0 1px 3px 0px inset);
    }
  }
  body:not(:target) #nav-page,
  body:not(:target) #nav-home {
    width: 11.5em;
    position: absolute;
    left: 0;
    top: 8em;
    z-index: -1;
    @include transition(left .25s ease-out);
  }
  #header {
    width: 100%;

  }
  .cssanimations body:not(:target) #main:target {
    position: absolute;
    right: -12em;
    left: 12em;
     @include transition(left .25s ease-out);
    .menu-link-left,
    .menu-link-right {
      color: $linkColor;
      text-shadow: none;
      background-color: $grayDarker;
      text-decoration: none;
      @include transition(background-color .5s ease-out);
    }
  }
  .no-cssanimations body:not(:target) #main:target {
    position: absolute;
    left: 12em;
    .menu-link-left,
    .menu-link-right {
      color: $linkColor;
      text-shadow: none;
      background-color: $grayDarker;
      text-decoration: none;
    }
  }
  html .no-csstransitions #main:target {
    position: absolute;
    left: 12em;
  }
  body:not(:target) #wrap:target {
    position: absolute;
    left: -24em;
    right: 24em;
    @include transition(left .25s ease-out);
    .menu-link-left,
    .menu-link-right {
      color: $linkColor;
      text-shadow: none;
      background-color: $grayDarker;
      text-decoration: none;
      @include transition(background-color .5s ease-out);
    }
  }
  body:not(:target) #main:target #nav-page,
  body:not(:target) #main:target #nav-home {
    left: -12em;
    @include transition(left .25s ease-out);
  }
  body:not(:target) #wrap:target .sidebar {
    right: -24em;
    @include transition(right .25s ease-out);
    top: 0;
  }
  body:not(:target) #main:target,
  body:not(:target) #wrap:target {
    .back-large-screen {
      background-color: rgba(0, 0, 0, .5);
      display: inline;
      position: absolute;
      border: 0;
      height: auto;
      line-height: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1001;
      @include transition(background-color .25s ease-out);
      &:hover {
        background-color: transparent;
        @include transition(background-color .25s ease-out);
      }
    }
  }
}
