//
// Responsive: Navbar 
// --------------------------------------------------


// TABLETS AND BELOW
// -----------------
/* @media (max-width: $navbarCollapseWidth) { */



// New Navbar

@media screen and (min-width: 41.26em) {

  a.menu-link {
     display: none;
  }

  .js nav[role=navigation] {
    max-height: none;
    height:50px;
    width:(25%);
    padding: 0 ($fluidGridGutterWidth * .5) ($fluidGridGutterWidth * .5);
    margin-top:($fluidGridGutterWidth*.25);
    background:none;
    float:left;
    position:absolute;
    height:auto;
    padding-top:none;
  }
  #header .landingmenu {
    padding-top:($fluidGridGutterWidth*1.75);
  }
  nav[role=navigation] {
    width:24%;
    padding:$fluidGridGutterWidth * .5;
    margin-top:$fluidGridGutterWidth *.75;
  }
  nav[role=navigation] ul {
    margin: 0;
    border: 0;
  }
  
  nav[role=navigation]  li {
    display: inline-block;
    border-left:none;
    border-right:none;
    width:100%;
    margin:$fluidGridGutterWidth;
  }
  nav[role=navigation] li:nth-child(n+3) {
    margin-bottom: $fluidGridGutterWidth;
  }
  nav[role=navigation] li a {
    border: 0;
    height:8em;
    padding:4em 0 1.5em 0;
    font-size:1.125em;
  }
  nav[role=navigation] [class^="icon-"]::before, .landingmenu [class*=" icon-"]::before {
    font-size: 32px;
    top: 1.3em;
    }

}
@media screen and (min-width: 62em) {

  .icon-reorder {
    display:none;
  }

  #main a.menu-link,
  #main a.menu-link-right {
    display:inline;
    position: absolute;
    margin:0px;
    top: 125px;
    background: none;
    box-shadow: none;
    border: none;
    font-size: 3em;
    color:$textColor;
    text-shadow: 0 1px 1px white;
    @include transition(all 0.3s ease-out);
  }
  #main a.menu-link {
    left:0;
    border:none;
  }
  #main a.menu-link-right {
    right:0;
    border:none;
  }
  .menu-link-active {
    @include rotate(-90deg);
    border:none;
  }
  .menu-link-right-active {
    @include rotate(90deg);
    border:none;
  }

  #header {
    height:125px;
    @include navButtonBackOnly;
    margin-bottom:125px;
    @include box-shadow(0px 4px 6px $black);

    h1, h2 {
      color:$textColor;
      font-size:4em;
      margin-left:10%;
      padding-top:1.3em;
      clear:both;
    }
    .brand {
      color:$white;
      font-size:2.5em;
      text-shadow: none;
      padding:40px 0 160px 0;
      margin:0px;
      width:50%;
      float:left;
      clear:none;
    }
  }
  #main .brand-base {
    text-shadow: 0 1px 1px white;
  }

  // Big Daddy Nav Pattern
  .container-fluid {
    @include transition(all 0.3s ease-out);
    @include box-sizing(border-box);
  }
  #header .landingmenu {
    padding-top:125px;
  }

  // LEFT NAV TOGGLE

  #sidebar,
  nav[role=navigation] {
    position:absolute;
    z-index:-500;
  }

  .js nav[role=navigation] {
    z-index:-500;
    left:0px;
    top:0;
    bottom:0;
    width:200px;
    background: transparent url(../_img/bg.gif) repeat scroll;
    @include transition(all 0.3s ease-out);
    margin:0px;
    padding:125px 1em 1em;
    @include box-shadow (-2px 0px 10px black inset);
  }
  .js #sidebar {
    z-index:-500;
    right:0px;
    top:0;
    bottom:0;
    width:400px;
    margin:0px;
    padding:125px 1em 1em;
    background-color:$gray;
    @include box-shadow (2px 0px 10px black inset);
    padding:$fluidGridGutterWidth;
    @include box-sizing(border-box);
    @include transition(all 0.3s ease-out);
    overflow:scroll;
    #secondary {
      padding:$gridGutterWidth;
      @include box-shadow (white 0 1px 0, rgba(0, 0, 0, 0.9) 0 1px 3px 0px inset);
    }
  }
  #sidebar.active {
    right:-400px;
    width:400px;
  }
  nav[role=navigation].active {
    left:-200px;
  }

  .js .container-fluid {
    position:absolute;
    right:0px;
    left:0;
    bottom:0;
    top:0;
  }
  .container-fluid.active {
    left:200px;
    right:-200px;
  }
  .container-fluid.activeright {
    left:-400px;
    right:400px;
  }
  nav[role=navigation] li a {
    height:5em;
    padding-top:2.5em;
  }
  nav[role=navigation] [class^="icon-"]::before, 
  .landingmenu [class*=" icon-"]::before {
    font-size:24px;
    top: 1em;
  }
  .logo-head,
  .logo-head-base {
    width:100px;
    float:left;
    padding:0 ($fluidGridGutterWidth * .5);
    margin:0 0 ($fluidGridGutterWidth *.25) 11%;
    @include box-sizing(border-box);
    img {
      width:100%;
      height:auto;
      padding-top:25px;
    }
  }


}
