//
// Responsive: Tablet to desktop
// --------------------------------------------------


@media (min-width: 62em) {
  //
  // Responsive: scaffolding
  // --------------------------------------------------
  body {
    background:none;
    background-color:$grayLight;
  }
  #wrap {
    background-color:$grayLight;
  }
  #sidebar {
    background-color:$gray;
  }

  #content,
  #secondary {
    margin-top:$fluidGridGutterWidth;
    background-color: $joeBlueLight;
    text-shadow: 0 1px 1px white;
    article {
      max-width:47em;
    }
  }
  .footer {
    margin-left:25.69061%;
    line-height: 1;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    padding: 0 0.5em;
    .container {
      margin:0px;
    }
  }
  #content,
  #content-loop {
    margin:0 11%;
  }
  #content-loop a {
    width:31%;
  }
  .footer {
    width:auto;
    position:static;
    margin-left:0px;
  }
  #primary {
    min-height:30em;
  }
  #sidebar {
    display:inline;
    position:absolute;
    z-index:10000;
    right:0;
  }

  //
  // Responsive: grid
  // --------------------------------------------------

  //
  // Responsive: layouts
  // --------------------------------------------------

  //
  // Responsive: type
  // --------------------------------------------------

  #content,
  #sidebar {
    h1 {
      font-size:3em;
      margin-bottom:.5em;
    }
    h2 {
      font-size:2.4em;
      margin-bottom:.5em;
    }
    h3 {
      font-size:2em;
      margin-bottom:.5em;
    }
  }

  //
  // Responsive: buttons
  // --------------------------------------------------

  //
  // Responsive: navbar 
  // --------------------------------------------------

  //
  // Responsive: thumbnails
  // --------------------------------------------------

  //
  // Responsive: utilities
  // ----------------

}
