//
// Responsive: Navbar
// --------------------------------------------------


// TABLETS AND BELOW
// -----------------
/* @media (max-width: $navbarCollapseWidth) { */
@media all {

  // UNFIX THE TOPBAR
  // ----------------
  // Remove any padding from the body
  body {
    padding-top: 0;
  }
  // Unfix the navbars
  .navbar-fixed-top,
  .navbar-fixed-bottom {
    position: relative;
  }
  .navbar-fixed-top {
    xxmargin-bottom: $baseLineHeight;
  }
  .navbar-fixed-bottom {
    margin-top: $baseLineHeight;
  }
  .navbar-fixed-top .navbar-inner,
  .navbar-fixed-bottom .navbar-inner {
    padding: 0px;
  }
  .navbar .container {
    width: auto;
    padding: 0;
  }
  // Account for brand name
  .navbar .brand {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 0 0 -5px;
  }

  // COLLAPSIBLE NAVBAR
  // ------------------
  // Nav collapse clears brand
  .nav-collapse {
    clear: both;
  }
  // Block-level the nav
  .nav-collapse .nav {
    float: none;
    margin: 0px;
  }
  .nav-collapse .nav > li {
    float: none;
	width: 25%;
  }
  .nav-collapse .nav > li > a {
    margin-bottom: 2px;
  }
  .nav-collapse .nav > .divider-vertical {
    display: none;
  }
  .nav-collapse .nav .nav-header {
    color: $navbarText;
    text-shadow: none;
  }
  // Nav and dropdown links in navbar
  .nav-collapse .nav > li > a,
  .nav-collapse .dropdown-menu a {
    padding: 9px 15px;
    font-weight: bold;
    color: $navbarLinkColor;
    @include border-radius(3px);
  }
  // Buttons
  .nav-collapse .btn {
    padding: 4px 10px 4px;
    font-weight: normal;
    @include border-radius(4px);
  }
  .nav-collapse .dropdown-menu li + li a {
    margin-bottom: 2px;
  }
  .nav-collapse .nav > li > a:hover,
  .nav-collapse .dropdown-menu a:hover {
    background-color: $navbarBackground;
  }
  .navbar-inverse .nav-collapse .nav > li > a:hover,
  .navbar-inverse .nav-collapse .dropdown-menu a:hover {
    background-color: $navbarInverseBackground;
  }
  // Buttons in the navbar
  .nav-collapse.in .btn-group {
    margin-top: 5px;
    padding: 0;
  }
  // Dropdowns in the navbar
  .nav-collapse .dropdown-menu {
    position: static;
    top: auto;
    left: auto;
    float: none;
    display: block;
    max-width: none;
    margin: 0 15px;
    padding: 0;
    background-color: transparent;
    border: none;
    @include border-radius(0);
    @include box-shadow(none);
  }
  .nav-collapse .dropdown-menu:before,
  .nav-collapse .dropdown-menu:after {
    display: none;
  }
  .nav-collapse .dropdown-menu .divider {
    display: none;
  }
  // Forms in navbar
  .nav-collapse .navbar-form,
  .nav-collapse .navbar-search {
    float: none;
    padding: ($baseLineHeight / 2) 15px;
    margin: ($baseLineHeight / 2) 0;
    border-top: 1px solid $navbarBackground;
    border-bottom: 1px solid $navbarBackground;
    @include box-shadow(#{inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1)});
  }
  // Pull right (secondary) nav content
  .navbar .nav-collapse .nav.pull-right {
    float: none;
    margin-left: 0;
  }
  // Hide everything in the navbar save .brand and toggle button */
  .nav-collapse,
  .nav-collapse.collapse {
    overflow: hidden;
    height: 0;
  }
  // Navbar button
  .navbar .btn-navbar {
    display: block;
  }

  // STATIC NAVBAR
  // -------------
  .navbar-static .navbar-inner {
    padding-left:  10px;
    padding-right: 10px;
  }


}
@media (min-width: 768px)  {
	.nav-collapse,
	.nav-collapse.collapse {
		overflow: visible;
		height: auto;
	}
	  // Navbar button
  .navbar .btn-navbar {
    display: none;
  }
}


// DEFAULT DESKTOP
// ---------------

@media (min-width: 980px) {

  // Required to make the collapsing navbar work on regular desktops
  .nav-collapse.collapse {
    height: auto !important;
    overflow: visible !important;
  }
  	.navbar-fixed-top, .navbar-fixed-bottom {
		
	}
  .navbar-inner,
  .base .navbar-inner,
  .navbar-fixed-top .navbar-inner,
   .navbar-static-top .navbar-inner {
	  background: $white;
	  background-color: $white;
	  @include box-shadow(none);
	  @include gradient-vertical($white, $white);
	  height: auto;
  }
  #menu-landing-menu,
   #menu-primary-navigation {
	float: left;
	width: 100px;
	margin: 0;
  }

  .basemenu .btn {
	padding:0px;
	margin:0px;
	height: auto;
  }
  .basemenu p,
  .landingmenu p {
	  float: none;
	  margin: 0px;
  }
  
.navbar .basemenu  .nav > li,
.navbar .basemenu  .menu > li,
.navbar .landingmenu .nav > li,
.navbar .landingmenu .menu > li {
	display: block;
    font-size: 1.2em;
	line-height: 1em;
    margin: 1%;
	@include box-sizing(border-box);
	float:left;
	height: auto;
	width: 100%;
	border: none;
	padding:0px;
}

.navbar .basemenu > li > a,
.navbar .basemenu .menu > li > a,
.navbar .landingmenu > li > a,
.navbar .landingmenu .menu > li > a {
  float: none;
  // Vertically center the text given $navbarHeight
  padding: 10px;
  line-height: 19px;
  color: $grayDark;
  text-decoration: none;
  text-shadow: none;
  width: 100%;
  font-size: $baseFontSize;
  font-weight: auto;
  text-align: left;
  @include border-radius(0px);
  @include box-shadow(none);
  border: 0px;
}

.landingmenu i,
.navbar i,
.basemenu i {
font-size: 1em;
color: $joeorange;
opacity: 0;
text-shadow: none;
float:left;
padding: 0px 10px 0px 0px;
}

  .landingbody #content {
	  display: none;
  }
  .btn-inverse,
  .btn-inverse:hover,
  .btn-inverse:active {
	  background: $white;
	  
  }
  
 	.landingmenu,
  .basemenu {
	  float: left;
	  width: 20%;
	@include box-sizing(border-box);
	padding: 70px 2% 2% 4%;
  }
  
  .landingmenu {
	  padding: 70px 2% 2% 4%;
  }
  .basemenu {
	  padding: 80px 2% 2% 4%;
  }

  .navbar .landingmenu .nav > li, 
  .navbar .landingmenu .menu > li,
  .navbar .basemenu .nav > li, 
  .navbar .basemenu .menu > li {
	  width: 100%;
	  
  }
   .navbar-fixed-top .navbar-inner,
  .navbar-fixed-bottom .navbar-inner {
    padding: 0px;

  }
  
  .logo-head,
  .logo-head-base {
	  width: 12%;
	  height: auto;
	  padding: 2% 4% 0% 4%;
	  float: left;
	  position: absolute;
  }


  .navbar .brand-base,
  .navbar .brand {
	  padding: 3% 0;
	  margin: 0;
	  color: $joeorange;
	  font-size: $navFontSize; 
  }
  .navbar .brand-base {
	  line-height: $navbarBaseHeight;
  }

}
@media (min-width: 1200px) {
	  .landingmenu {
	  padding: 100px 2% 2% 4%;
  }
  .basemenu {
	  padding: 110px 2% 2% 4%;
  }
}
