//
// Responsive: Tablet to desktop
// --------------------------------------------------


@media (min-width: 980px) {
  
	
	.landingbody,
	body {
	  background: $white;
  }
  
   
  #sidebar {
	  float: left;
	  @include box-sizing(border-box);
	  padding: .5em;
	  background-color:  $joeBlueLight;
	  @include border-radius(4px);
	  @include box-shadow(#{inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05)})
	    
  }

  

  
  #masthead {
	padding: 	40px 20px;
    margin-top:   -20px; /* Offset bottom margin on .navbar */
    margin-right: -20px;
    margin-left:  -20px;
	  
  }
  #masthead h1 {
    font-size: 90px;
  }
  #masthead p,
  #masthead .btn {
    font-size: 24px;
  }
  

  .thumbnails {
	  margin: 0px;
  }
  #content {
	float: left;
	background: $white;
	padding: 0 2% 2% 0%;
	margin: 0 2% 2% 0%;
	@include box-sizing(border-box);
  }
  header {
	  padding-bottom: 20px;
  }
  


}
