//
// Scaffolding
// --------------------------------------------------


// Body reset
// -------------------------

body {
  margin: 0;
  font-family: $baseFontFamily;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  color: $textColor;
  background-color: $bodyBackground;
}
 
#portfolio {
	width: 100%;
}

.landingmenu {
	  max-width: 400px;
	  margin: 0 auto;
	  clear: both;
	  position: relative;
	  width:96%;
}

#insertContent #main {
	width:100%;
	
}
.insertCont {
	width: 62%;
	float: left;
	background: $joeBlueLight;
	padding: 2%;
	margin: 0 2% 2% 2%;
	@include box-sizing(border-box);
}
.contact-intro {
	padding-bottom: 2em;
}
.contact-intro p:nth-of-type(1) {
	padding-top: 2em;
}

.entry-meta {
	margin-top: 2em;
}



// Links
// -------------------------

a {
  color: $linkColor;
  text-decoration: none;
}
a:hover {
  color: $linkColorHover;
  text-decoration: underline;
}

  .quick-links {
	  text-align: center;
	  font-size: 30px; 
	  line-height: 40px;
	  padding-top: 10px;
	  width: 100%;
  }
  .quick-links a {
	  padding:10px;
	  text-decoration: none;
	  color: $grayDark;
	  @include transition(color .5s ease);
  }
   .quick-links a:hover {
	   color: $joeorange;
	   @include transition(color .5s ease);
   }


// Images
// -------------------------

.img-rounded {
  @include border-radius(6px);
}

.img-polaroid {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
     -moz-box-shadow: 0 1px 3px rgba(0,0,0,.1);
          box-shadow: 0 1px 3px rgba(0,0,0,.1);
}

.img-circle {
  @include border-radius(500px);
}
.category-portfolio img {
	padding-top:2em;
}

