/* ==========================================================================
   SCAFFOLDING
   ========================================================================== */


/* Body reset */
/* ------------------------- */

html {
  min-height: 100%;
}
body {
  font-family: $baseFontFamily;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  color: $textColor;
}
.loading-div {
  width: 100%;
  margin: 8em auto;
  text-align: center;
  a [class^="icon-"], a [class*=" icon-"] {
    font-size: 2em;
    color: $textColor;
    display: block;
    margin: .5em;
  }
}


/* LINKS */
/* ------------------------- */

a {
  color: $linkColor;
  text-decoration: none;
}
a:hover {
  color: $linkColorHover;
  text-decoration: underline;
}

.quick-links {
  text-align: center;
  font-size: 1.875em; 		// 30px/16px = 1.875em
  line-height: 2.5em;		// 40px/16px = 2.5em
  padding-top: .625em;		// 10px/16px = .625em
  width: 100%;
}
.quick-links a {
  padding:.625em;				// 10px/16px = .625em
  text-decoration: none;
  @include transition(color .5s ease);
}
.quick-links a:hover {
   @include transition(color .5s ease);
}

a[href$='.pdf'] {
 &:before {
    font-family: FontAwesome;
    font-size: .5em;
    color: $red;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    margin-left: .25em;
    width: 1em;
    text-decoration: inherit;content: "\f0f6";
    vertical-align: middle;
  }
}
.work-link {
  color:$white;
  text-shadow:none;
  background-color:$blue;
  padding:($baseFontSize * .2) ($baseFontSize * .4);
  margin-bottom:($baseFontSize * .4);
  display:inline-block;
  @include border-radius($baseFontSize * .4);
  &:hover {
    text-decoration: none;
    color: $white;
    background-color:darken($blue,10%);
  }
}
.work-link-altered {
  text-decoration: line-through;
  background-color:$green;
  &:hover {
    text-decoration: line-through;
    background-color:darken($green,10%);
  }
}
.previous-image {
  margin-right: 1em;
}


/* IMAGES */
/* ------------------------- */

.img-rounded {
  @include border-radius(6px);
}

.img-polaroid {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
     -moz-box-shadow: 0 1px 3px rgba(0,0,0,.1);
          box-shadow: 0 1px 3px rgba(0,0,0,.1);
}

.img-circle {
  @include border-radius(31.25em); // 500px/16px = 31.25em
}

/* SPECIFIC STLES */
/* ------------------------- */

.hidden-small,
.hidden-medium,
.visible-desktop {
  position:absolute;
  z-index:-500;
  left:-9999px;
}
// .main {
//   position:relative;
//   z-index:1;
//   overflow:hidden;
//   min-height: 100%;
// }

.site-content {
  max-width: 50em;
  background-color: $joeBlueLight;
  @include box-shadow (white 0 1px 0, rgba(0, 0, 0, 0.9) 0 1px 3px 0px inset);
  @include box-sizing(border-box);
  .content{
    padding:$gridGutterWidth;
  }
}

.site-footer {
  clear: both;
  overflow: hidden;
  padding: $fluidGridGutterWidth;
  @include navButtonNoHov;
  h3 {
    color: $black;
    text-shadow: 0 1px 1px $gray;
  }
  .footer-widget-wrap-one,
  .footer-widget-wrap-two {
    .widget-area {
      width: 100%;
      float: left;
      text-align: left;
      padding: $fluidGridGutterWidth;
    }
  }
  .site-info {
    text-align: center;
  }
}
.site-footer {
  ul {
    margin: 0 0 1em 0;
    [class^="icon-"]::before, 
    [class*=" icon-"]::before {
      margin-right: .5em;
    }
    li {
    list-style-type: none;
    margin: 0 0 .75em 0;
      a {
        font-family: $serifFontFamily;
      }
    }
  }
}

.footer-landing {
  margin-top: 28em;
}

.insertCont {
  width: 62%;
  float: left;
  background: $joeBlueLight;
  padding: 2%;
  margin: 0 2% 2% 2%;
  @include box-sizing(border-box);
}
.contact-intro {
  padding-bottom: 2em;
}
.contact-intro p:nth-of-type(1) {
  padding-top: 2em;
}


/* PORTFOLIO AND MAIN LOOP */
/* ------------------------- */

.content-loop {
  padding:0;
  padding: 1%;
  @include box-sizing(border-box);
    a {
      @include navButton;
      width:48%;
      margin:1%;
      float:left;
    }
    h2,
    p {
      padding: .562em;
      margin: 0 0 $baseFontSize 0;
    }
    h2 {
      font-size:($baseFontSize *1.3);
      color: $joeorange;
      line-height:1.2em;
      margin-bottom:0;
    }
    p {
      font-size: ($baseFontSize * .7);
      font-family: $baseFontFamily;
      color:$grayLighter;
      text-align:left;
    } 
    article {
      padding-bottom:1.5em;
    }
    img {
      @include box-shadow(none);
    }
  }