/* ==========================================================================
   SCAFFOLDING
   ========================================================================== */


/* Body reset */
/* ------------------------- */

html {
  min-height: 100%;
}
body {
  color: $textColor;
  font-size: $baseFontSize;
  font-family: $baseFontFamily;
  line-height: $baseLineHeight;
}
.loading-div {
  margin: 8em auto;
  width: 100%;
  text-align: center;
  a [class^="icon-"], a [class*=" icon-"] {
    display: block;
    margin: .5em;
    color: $textColor;
    font-size: 2em;
  }
}
.attachment {
  article {
    text-align: center;
    footer {
      text-align: left;
    }
  }
}

/* LINKS */
/* ------------------------- */

a {
  color: $linkColor;
  text-decoration: none;
}
a:hover {
  color: $linkColorHover;
  text-decoration: underline;
}

.quick-links {    // 40px/16px = 2.5em
  padding-top: .625em;    // 10px/16px = .625em
  width: 100%;
  text-align: center;
  font-size: 1.875em;     // 30px/16px = 1.875em
  line-height: 2.5em;
}
.quick-links a {
  @include transition(color .5s ease);
  padding:.625em;       // 10px/16px = .625em
  text-decoration: none;
}
.quick-links a:hover {
   @include transition(color .5s ease);
}

a[href$='.pdf'] {
 &:before {
    display: inline-block;
    margin-left: .25em;
    width: 1em;
    color: $red;
    content: "\f0f6";
    vertical-align: middle;
    text-decoration: inherit;
    font-weight: normal;
    font-style: normal;
    font-size: .5em;
    font-family: FontAwesome;
  }
}
.work-link {
  @include border-radius($baseFontSize * .4);
  display:inline-block;
  margin-bottom:($baseFontSize * .4);
  padding:($baseFontSize * .25) ($baseFontSize * .5);
  background-color:$blue;
  color:$white;
  text-shadow:none;
  &:hover {
    background-color:darken($blue,10%);
    color: $white;
    text-decoration: none;
  }
}
.work-link-altered {
  background-color:$green;
  text-decoration: line-through;
  &:hover {
    background-color:darken($green,10%);
    text-decoration: line-through;
  }
}
.previous-image {
  margin-right: 1em;
}
// .entry-content {
//   a[href*="github"] {
//     &:before {
//       margin: 0 .25em;
//       color: $textColor;
//       content: "\f09b";
//       font-family: FontAwesome;
//     }
//   }
//   .icon-link-container {
//     a[href*="github"]::before {
//       margin-right: .25em;
//       margin-left: 0px;
//       color: $white;
//     }
//   }
// }


/* IMAGES */
/* ------------------------- */

.img-rounded {
  @include border-radius(6px);
}

.img-polaroid {
  padding: 4px;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  background-color: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
     -moz-box-shadow: 0 1px 3px rgba(0,0,0,.1);
          box-shadow: 0 1px 3px rgba(0,0,0,.1);
}

.img-circle {
  @include border-radius(31.25em); // 500px/16px = 31.25em
}

/* SPECIFIC STLES */
/* ------------------------- */

.hidden-small,
.hidden-medium,
.visible-desktop {
  position:absolute;
  left:-9999px;
  z-index:-500;
}
// .main {
//   position:relative;
//   z-index:1;
//   overflow:hidden;
//   min-height: 100%;
// }

.site-content {
  @include box-shadow (white 0 1px 0, rgba(0, 0, 0, 0.9) 0 1px 3px 0px inset);
  @include box-sizing(border-box);
  max-width: 50em;
  background-color: $joeBlueLight;
  .content{
    padding:$gridGutterWidth;
  }
}

.site-footer {
  @include navButtonNoHov;
  clear: both;
  overflow: hidden;
  padding: $fluidGridGutterWidth;
  h3 {
    color: $black;
    text-shadow: 0 1px 1px $gray;
  }
  .footer-widget-wrap-one,
  .footer-widget-wrap-two {
    .widget-area {
      float: left;
      padding: $fluidGridGutterWidth;
      width: 100%;
      text-align: left;
    }
  }
  .site-info {
    text-align: center;
  }
}
.site-footer {
  ul {
    margin: 0 0 1em 0;
    [class^="icon-"]::before, 
    [class*=" icon-"]::before {
      margin-right: .5em;
    }
    li {
    margin: 0 0 .75em 0;
    list-style-type: none;
      a {
        font-family: $serifFontFamily;
      }
    }
  }
}

.footer-landing {
  position: static;
  margin-top: 28em;
}

.insertCont {
  @include box-sizing(border-box);
  float: left;
  margin: 0 2% 2% 2%;
  padding: 2%;
  width: 62%;
  background: $joeBlueLight;
}


/* PORTFOLIO AND MAIN LOOP */
/* ------------------------- */

.content-loop {
  @include box-sizing(border-box);
  padding:0;
  padding: 1%;
    a {
      @include navButton;
      float:left;
      margin:1%;
      width:48%;
    }
    h2,
    p {
      margin: 0 0 $baseFontSize 0;
      padding: .562em;
    }
    h2 {
      margin-bottom:0;
      color: $joeorange;
      font-size:($baseFontSize *1.3);
      line-height:1.2em;
    }
    p {
      color:$grayLighter;
      text-align:left;
      font-size: ($baseFontSize * .7);
      font-family: $baseFontFamily;
    } 
    article {
      padding-bottom:1.5em;
    }
    img {
      @include box-shadow(none);
    }
  }

  // HIRE ME 
.entry-content {
  .home-call-out {
    @include homeCallOutBase;
    @include box-sizing(border-box);
    float: right;
    margin: 0 0 .5em .5em;
    padding-bottom: .6em;
    width: 33%;
    img {
      @include box-shadow(none);
      margin: 0;
    }
  }
  // .home-call-out {
  //   padding-bottom: 1em;
  //   min-width: 10em;
  //   width: 33%;
  // }
  .home-call-out-bg {
    margin: .5em;
    // padding-top: 10em;
    min-height: 3.7em;
    // background-image: url('http://www.joesnellpdx.com/wp-content/uploads/2012/09/joeheadshot.png');
    // background-position: center;  /* Internet Explorer 7/8 */
    // background-size: cover;
    // moz-background-size: cover;  /* Firefox 3.6 */
  }
  .home-call-out-btn {
    width: 88%;
    font-size: 1em;
  }
}

  // call out btn in buttons.scss
  // 
  