//
// Scaffolding
// --------------------------------------------------


// Body reset
// -------------------------

body {
  font-family: $baseFontFamily;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  color: $textColor;
}
#main {
  position:relative;
  z-index:1;
}
.footer {
  @include navButtonNoHov;
  overflow:hidden;
  min-height:$navbarBaseHeight;
  .container {
    padding:$fluidGridGutterWidth;
  }
}
#primary {
  margin-bottom:$navbarBaseHeight;
}

// Links
// -------------------------

a {
  color: $linkColor;
  text-decoration: none;
}
a:hover {
  color: $linkColorHover;
  text-decoration: underline;
}

.quick-links {
  text-align: center;
  font-size: 1.875em; 		// 30px/16px = 1.875em
  line-height: 2.5em;		// 40px/16px = 2.5em
  padding-top: .625em;		// 10px/16px = .625em
  width: 100%;
}
.quick-links a {
  padding:.625em;				// 10px/16px = .625em
  text-decoration: none;
  @include transition(color .5s ease);
}
.quick-links a:hover {
   @include transition(color .5s ease);
}


// Images
// -------------------------

.img-rounded {
  @include border-radius(6px);
}

.img-polaroid {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
     -moz-box-shadow: 0 1px 3px rgba(0,0,0,.1);
          box-shadow: 0 1px 3px rgba(0,0,0,.1);
}

.img-circle {
  @include border-radius(31.25em); // 500px/16px = 31.25em
}

// Specific Styles
// -------------------------


#content{
    background-color:$joeBlueLight;
    max-width:47em;
    article,
    #comments,
    #secondary {
      padding:$gridGutterWidth;
      @include box-shadow (white 0 1px 0, rgba(0, 0, 0, 0.9) 0 1px 3px 0px inset);
    }
}

.insertCont {
  width: 62%;
  float: left;
  background: $joeBlueLight;
  padding: 2%;
  margin: 0 2% 2% 2%;
  @include box-sizing(border-box);
}
.contact-intro {
  padding-bottom: 2em;
}
.contact-intro p:nth-of-type(1) {
  padding-top: 2em;
}


// Portfolio & Main Loop
// -------------------------

#content-loop {
  padding:0;
  padding: 1%;
  @include box-sizing(border-box);
    a {
      @include navButton;
      width:48%;
      margin:1%;
      float:left;
    }
    h2,
    p {
      padding: .562em;
      margin: 0 0 $baseFontSize 0;
    }
    h2 {
      font-size:($baseFontSize *1.3);
      color: $joeorange;
      line-height:1.2em;
      margin-bottom:0;
    }
    p {
      font-size: ($baseFontSize * .7);
      font-family: $baseFontFamily;
      color:$grayLight;
      text-align:left;
    } 
    article {
      padding-bottom:1.5em;
    }
    img {
      @include box-shadow(none);
    }
  }


// Portfolio img  : see thumbnails.scss
