/* ==========================================================================
   THUMBNAILS
   ========================================================================== */


// Note: `.thumbnails` and `.thumbnails > li` are overriden in responsive files

// Make wrapper ul behave like the grid
.thumbnails {
  margin-left: -$gridGutterWidth;
  list-style: none;
  @include clearfix();
}
// Fluid rows have no left margin
.row-fluid .thumbnails {
  margin-left: 0;
}

// Float li to make thumbnails appear in a row
.thumbnails > li {
  float: left; // Explicity set the float since we don't require .span* classes
  margin-bottom: $baseLineHeight;
  margin-left: $gridGutterWidth;
}

// The actual thumbnail (can be `a` or `div`)
.thumbnail {
  display: block;
  padding: .25em;
  line-height: $baseLineHeight;
  background-color: $white;
  border: 1px solid $white;
  @include border-radius(.25em);
  @include box-shadow(-1px 1px 2px rgba(0,0,0,.25));
  @include transition(all .2s ease-in-out);
}
// Add a hover state for linked versions only
a.thumbnail:hover {
  border-color: $linkColor;
  @include box-shadow(0 1px .25em rgba(0,105,214,.25));
  text-decoration: none;
}

// Images and captions
.thumbnail > img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.thumbnail .caption{
  padding: .562em;
  font-family: $baseFontFamily;
	font-size: ($baseFontSize * .8);
	color: $joeorange;
	font-weight: normal;
	line-height: $baseLineHeight;
	padding-top: .25em;
	margin: 0 0 $baseFontSize 0;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	text-decoration: blink;
}
.thumbnails a:hover {
	text-decoration: none;
}
.selfPortrait {
	width: 33.33333333%;
	max-width: 25em;
	float: right;
}
.selfPortrait img {
  width:100%;
}

// Portfolio img
#content-loop img {
  width:100%;
  padding:0px;
  margin:0;
  @include border-radius(0);
  border:none;
  //@include filter(opacity(50%));
}
#content-loop img:hover {
  //@include filter(opacity(100%));
}

.entry-content img {
  @include box-shadow(2px 2px 5px $grayLight);
}
// Wordpress Core Images

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: none;
    border: 1px solid transparent;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
    //@include box-shadow(2px 2px 5px $grayLight);
}

.wp-caption p.wp-caption-text {
    font-size: .8em;
    line-height: 1.5em;
    margin: 0;
    padding: 0 4px 5px;
}

// Gallery Images

#gallery-1 {
  .gallery-icon {
    img {
      width: 80%;
      margin: 0;
      border: none;
    }
  }
  .gallery-caption {
    font-size: .8em;
  }
}




