//
// Thumbnails
// --------------------------------------------------


// Note: `.thumbnails` and `.thumbnails > li` are overriden in responsive files

// Make wrapper ul behave like the grid
.thumbnails {
  margin-left: -$gridGutterWidth;
  list-style: none;
  @include clearfix();
}
// Fluid rows have no left margin
.row-fluid .thumbnails {
  margin-left: 0;
}

// Float li to make thumbnails appear in a row
.thumbnails > li {
  float: left; // Explicity set the float since we don't require .span* classes
  margin-bottom: $baseLineHeight;
  margin-left: $gridGutterWidth;
}

// The actual thumbnail (can be `a` or `div`)
.thumbnail {
  display: block;
  padding: 4px;
  line-height: $baseLineHeight;
  background-color: $white;
  border: 1px solid $white;
  @include border-radius(4px);
  @include box-shadow(-1px 1px 2px rgba(0,0,0,.25));
  @include transition(all .2s ease-in-out);
}
// Add a hover state for linked versions only
a.thumbnail:hover {
  border-color: $linkColor;
  @include box-shadow(0 1px 4px rgba(0,105,214,.25));
  text-decoration: none;
}

// Images and captions
.thumbnail > img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.thumbnail .caption,
.portfolioimg h2 {
  	padding: 9px;
  	font-family: $baseFontFamily;
	font-size: $baseFontSize;
	color: $joeorange;
	font-weight: normal;
	line-height: $baseLineHeight;
	padding-top: 8px;
	margin: 0 0 $baseFontSize 0;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	text-decoration: blink;
}
.thumbnails a:hover {
	text-decoration: none;
}
.selfPortrait {
	width: 33.33333333%;
	max-width: 400px;
	float: right;
}


