/* ==========================================================================
   TYPE
   ========================================================================== */


// Body text
// -------------------------

p {
  margin: 0 0 $baseLineHeight / 2;
  font-weight:300;
  font-size:$baseFontSize;
  line-height:$baseLineHeight;
}
.lead {
  margin-bottom: $baseLineHeight; // 20px/16px = 1.25em
  font-weight: 300;
  font-size: 1.25em;
  line-height: $baseLineHeight * 1.5;
}
.site-footer {
  font-size: .9em;
  font-family:$sansFontFamily;
}


// Emphasis & misc
// -------------------------

small {
  font-size: 85%; // Ex: 14px base font * 85% = about 12px
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
cite {
  font-style: normal;
}
.muted {
  color: $grayLight;
}


// Headings
// -------------------------

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: $headingsColor;
  font-weight: $headingsFontWeight;
  font-family: $headingsFontFamily;
  line-height: 1;
  text-rendering: optimizelegibility; // Fix the character spacing for headings
  small {
    color: $grayLight;
    font-weight: normal;
    line-height: 1;
  }
}
h1 { margin: 0 0 $baseLineHeight / 4; font-size: 2em;}
h2 { margin: 0 0 $baseLineHeight / 4; font-size: 2em;}
h3 { margin: 0; font-weight: bold; font-size: 1.2em; font-family: $sansFontFamily; line-height: 1.5em;} 
h4 { margin: 0; font-size: 1.125em; line-height: 1.6em; line-height: 1.5em;}  
h5 { margin: 0; font-size: 1em;  line-height: 1.4em; line-height: 1.5em;}
h6 { margin: 0; font-size: .875em; line-height: 1.25em; line-height: 1.5em;} // 14px/16px = .875em | 20px/16px = 1.25em

h1 small { font-size: 1.875em; }
h2 small { font-size: 1.125em; }
h3 small { font-size: 1em; }
h4 small { font-size: 1em; }

// WP post nav / social headers

.entry-meta,
.post-navigation,
.comments-area #respond h3,
.sd-title,
.small {
  margin: ($baseLineHeight * .5) 0;
  color:lighten($textColor, 10%);
  font-style:italic;
  font-size:($baseFontSize *.8);
  a {
    color:darken($linkColor,10%);
  }
}
pre[class*="language-"] {
  font-size: .9em;
}
.excerpt p {
  font-family: $sansFontFamily;
}

// Page header
// -------------------------


// Lists
// --------------------------------------------------

// Unordered and Ordered lists
ul, ol {
  margin: 0 0 $baseLineHeight / 2 1.56em;
  padding: 0; 
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
li {
  line-height: $baseLineHeight;
}
// add 

.content ul {
  margin-left: 2em;
  list-style-type: none;
  text-indent: -.8em;

  li {
    padding-bottom: .25em;
    line-height: $baseLineHeight;
    &:before {
      display: inline-block;
      width: .8em;
      color: $joeorange;
      content: "\f054";
      text-decoration: inherit;
      font-weight: normal;
      font-style: normal;
      font-family: FontAwesome;
    }
  }
}
// li {
//   list-style-type: none;
//   line-height: $baseLineHeight;
// }
// li:before {
//   display: inline-block;content: "\f095";
//   text-decoration: inherit;
//   font-weight: normal;
//   font-style: normal;
//   font-family: FontAwesome;
// }
.content .list-bubble {
  margin: 0 0 $baseLineHeight / 2 0;
  text-indent: 0;
  li {
  @include border-radius($baseFontSize * .4);
  display:inline-block;
  margin-bottom:($baseFontSize * .4);
  padding:($baseFontSize * .2) ($baseFontSize * .4);
  background-color:$grayDark;
  color:$white;
  text-shadow:none;
  &:before {
    width: 0;
    content: "";
    }
  }
}

.content .tools {
  li {
    margin-right: .25em;
    font-style: normal;
  }
}

// end add
// .landingbody #content ul {
//   margin: 0 0 $baseLineHeight / 2 0;
//   li {
//   display:inline-block;
//   margin-bottom:($baseFontSize * .4);
//   padding:($baseFontSize * .2) ($baseFontSize * .4);
//   background-color:$grayDark;
//   color:$white;
//   text-shadow:none;
//   @include border-radius($baseFontSize * .4);
//   }
// }
ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}

// Description Lists
dl {
  margin-bottom: $baseLineHeight;
}
dt,
dd {
  line-height: $baseLineHeight;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: $baseLineHeight / 2;
}
// Horizontal layout (like forms)
.dl-horizontal {
  dt {
    @include text-overflow();
    float: left;
    clear: left;
    width: 7.5em;
    text-align: right;
  }
  dd {
    margin-left: 8.125em;
  }
}

ul.chirp,
ul.content-link-list {
margin: 0;
padding: 0;
max-width:100%;
}
ul.content-link-list {
  margin:0 0 1.4em;
}
ul.chirp li {
  position: relative;
  display: inline-block;
  padding: .625em .625em .625em 3.75em;
  min-height:5em;
  max-width: 100%;
  border-bottom: 1px solid $grayLight;
  list-style: none;
  vertical-align: middle;
  font-size: .8em;
  font-family:$sansFontFamily;
}
ul.content-link-list li {
  @include navButton;
  position: relative;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  list-style: none;
  vertical-align: middle;
  text-align:left;
  font-size: .8em;
  line-height: $baseLineHeight;
  &:before {
    display: inline;
    width: auto;
    content: "";
    font-family: inherit;
  }
}

ul.content-link-list li.special-link {
  @include buttonBackground($btnPrimaryBackground, $btnPrimaryBackgroundHighlight);
}

ul.content-link-list li {
  padding: 0px;
  min-height: 4.37em;
}
ul.content-link-list li:first-child {
  @include border-radius(.25em .25em 0px 0px);
}
ul.content-link-list li:last-child {
  @include border-radius(0px 0px .25em .25em);
}
ul.chirp li img {
  @include border-radius(.312em);
  position: absolute;
  top: 0;
  left: 0;
  width: 2.5em;
  height: 2.5em;
  border: none;
}

ul.content-link-list li i {
  @include transition(color .5s ease);
  position: absolute;
  top: 35%;
  left: .625em;
  margin-right: .625em;
  color: #272727;
  text-shadow: 1px 1px #555,-1px -1px black;
  font-size: 2.2em;
}
ul.content-link-list li:hover i {
  @include transition(color .5s ease);
  color: $joeorange;
  text-decoration: none;
}

ul.chirp li a,
ul.content-link-list a {
  @include hyphens();
}
ul.content-link-list a {
  display: block;
  padding: 1.25em 1.25em 1.25em 1.25em;
  height: 100%;
  text-indent: 0;
}
ul.content-link-list li.special-link a {
  color: white;
}
ul.content-link-list a:hover,
ul.content-link-list li.special-link a:hover {
  text-decoration:none;
}
.chirp .user-link {
  display:block;
  font-weight:bold;
  font-size:$baseFontSize*1.2;
}
.chirp .meta {
  display:block;
}

// MISC
// ----

// Horizontal rules
hr {
  margin: $baseLineHeight 0;
  border: 0;
  border-top: 1px solid $hrBorder;
  border-bottom: 1px solid $white;
}

// Abbreviations and acronyms
abbr[title] {
  border-bottom: 1px dotted $grayLight;
  cursor: help;
}
abbr.initialism {
  text-transform: uppercase;
  font-size: 90%;
}

// Blockquotes
blockquote {
  margin: 0 0 $baseLineHeight;
  padding: 0 0 0 .937em;
  //border-left: 5px solid lighten($joeorange, 25%);
  p,
  li,
  ol {
    @include font-shorthand(.9em,300,$baseLineHeight * .9);
    margin-bottom: 0;
    color:$gray;
    font-style:italic;
  }
  p {
    display: inline;
    margin: .8em;
  }
  small {
    display: block;
    color: $gray;
    line-height: $baseLineHeight;
    &:before {
      content: '\2014 \00A0';
    }
  }

  // Float right with text-align: right
  &.pull-right {
    float: right;
    padding-right: .937em;
    padding-left: 0;
    border-right: 5px solid $grayLighter;
    border-left: 0;
    p,
    small {
      text-align: right;
    }
    small {
      &:before {
        content: '';
      }
      &:after {
        content: '\00A0 \2014';
      }
    }
  }
}

// Quotes
q:before,
blockquote:before,
q:after,
blockquote:after {
  display: inline;
  width: .8em;
  color: $joeorange;
  text-decoration: inherit;
  text-shadow: 0 1px 1px $white;
  font-weight: normal;
  font-style: normal;
  font-family: FontAwesome;
}
q:before,
blockquote:before {
  content: "\f10d";
}
q:after,
blockquote:after {
  content: "\f10e";
}
.icons-responsive {
  margin: 2em 0;
  text-align: center;
  i {
    display: inline;
    color: $grayLight;
    vertical-align: middle;
    &:nth-child(2n+1) {
      padding: .15em;
      color: $joeorange;
      text-shadow: 0 1px 1px $white;
      font-size: 2.8em;
    }
  }
}

// Addresses
address {
  display: block;
  margin-bottom: $baseLineHeight;
  font-style: normal;
  line-height: $baseLineHeight;
}

// Plugin Specific 
div.sharedaddy, #content div.sharedaddy, #main div.sharedaddy {
  padding: $fluidGridGutterWidth 0;
  font-family:$sansFontFamily;
}

