/* ==========================================================================
   TYPE
   ========================================================================== */


// Body text
// -------------------------

p {
  font-size:$baseFontSize;
  line-height:$baseLineHeight;
  margin: 0 0 $baseLineHeight / 2;
  font-weight:300;
}
.lead {
  margin-bottom: $baseLineHeight;
  font-size: 1.25em; // 20px/16px = 1.25em
  font-weight: 300;
  line-height: $baseLineHeight * 1.5;
}
.site-footer {
  font-family:$sansFontFamily;
  font-size: .9em;
}


// Emphasis & misc
// -------------------------

small {
  font-size: 85%; // Ex: 14px base font * 85% = about 12px
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
cite {
  font-style: normal;
}
.muted {
  color: $grayLight;
}


// Headings
// -------------------------

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: $headingsFontFamily;
  font-weight: $headingsFontWeight;
  line-height: 1;
  color: $headingsColor;
  text-rendering: optimizelegibility; // Fix the character spacing for headings
  small {
    font-weight: normal;
    line-height: 1;
    color: $grayLight;
  }
}
h1 { font-size: 1.875em; margin: 0 0 $baseLineHeight / 2;}
h2 { font-size: 1.875em; margin: 0 0 $baseLineHeight / 2;}
h3 { font-family: $sansFontFamily; font-weight: bold; font-size: 1.2em; margin: 0; line-height: 1.5em;} 
h4 { font-size: 1.125em; line-height: 1.6em; margin: 0; line-height: 1.5em;}  
h5 { font-size: 1em;  line-height: 1.4em; margin: 0; line-height: 1.5em;}
h6 { font-size: .875em; line-height: 1.25em; margin: 0; line-height: 1.5em;} // 14px/16px = .875em | 20px/16px = 1.25em

h1 small { font-size: 1.875em; }
h2 small { font-size: 1.125em; }
h3 small { font-size: 1em; }
h4 small { font-size: 1em; }

// Page header
// -------------------------


// Lists
// --------------------------------------------------

// Unordered and Ordered lists
ul, ol {
  padding: 0;
  margin: 0 0 $baseLineHeight / 2 1.56em; 
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
li {
  line-height: $baseLineHeight;
}
// add 

.content ul {
  list-style-type: none;
  margin-left: 2em;
  text-indent: -.8em;

  li {
    line-height: $baseLineHeight;
    padding-bottom: .25em;
    &::before {
      font-family: FontAwesome;
      color: $joeorange;
      font-weight: normal;
      font-style: normal;
      display: inline-block;
      width: .8em;
      text-decoration: inherit;content: "\f054";
    }
  }
}
// li {
//   line-height: $baseLineHeight;
//   list-style-type: none;
// }
// li:before {
//   font-family: FontAwesome;
//   font-weight: normal;
//   font-style: normal;
//   display: inline-block;
//   text-decoration: inherit;content: "\f095";
// }
.content .list-bubble {
  text-indent: 0;
  margin: 0 0 $baseLineHeight / 2 0;
  li {
  color:$white;
  text-shadow:none;
  background-color:$grayDark;
  padding:($baseFontSize * .2) ($baseFontSize * .4);
  margin-bottom:($baseFontSize * .4);
  display:inline-block;
  @include border-radius($baseFontSize * .4);
  &:before {
    content: "";
    width: 0;
    }
  }
}

// end add
// .landingbody #content ul {
//   margin: 0 0 $baseLineHeight / 2 0;
//   li {
//   color:$white;
//   text-shadow:none;
//   background-color:$grayDark;
//   padding:($baseFontSize * .2) ($baseFontSize * .4);
//   margin-bottom:($baseFontSize * .4);
//   display:inline-block;
//   @include border-radius($baseFontSize * .4);
//   }
// }
ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}

// Description Lists
dl {
  margin-bottom: $baseLineHeight;
}
dt,
dd {
  line-height: $baseLineHeight;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: $baseLineHeight / 2;
}
// Horizontal layout (like forms)
.dl-horizontal {
  dt {
    float: left;
    width: 7.5em;
    clear: left;
    text-align: right;
    @include text-overflow();
  }
  dd {
    margin-left: 8.125em;
  }
}

ul.chirp,
ul.content-link-list {
padding: 0;
margin: 0;
max-width:100%;
}
ul.content-link-list {
  margin:0 0 1.4em;
}
ul.chirp li {
  position: relative;
  list-style: none;
  border-bottom: 1px solid $grayLight;
  max-width: 100%;
  display: inline-block;
  font-size: .8em;
  vertical-align: middle;
  padding: .625em .625em .625em 3.75em;
  min-height:5em;
  font-family:$sansFontFamily;
}
ul.content-link-list li {
@include navButton;
position: relative;
list-style: none;
border-bottom: 1px solid rgba(0, 0, 0, 0.05);
width: 100%;
display: inline-block;
font-size: .8em;
line-height: $baseLineHeight;
text-align:left;
vertical-align: middle;
}

ul.content-link-list li.special-link {
	@include buttonBackground($btnPrimaryBackground, $btnPrimaryBackgroundHighlight);
}

ul.content-link-list li {
	padding: 0px;
	min-height: 4.37em;
}
ul.content-link-list li:first-child {
	@include border-radius(.25em .25em 0px 0px);
}
ul.content-link-list li:last-child {
	@include border-radius(0px 0px .25em .25em);
}
ul.chirp li img {
position: absolute;
left: 0;
top: 0;
width: 2.5em;
height: 2.5em;
@include border-radius(.312em);
border: none;
}

ul.content-link-list li i {
	position: absolute;
	left: .625em;
	top: 35%;
	margin-right: .625em;
	font-size: 2.2em;
	color: #272727;
	text-shadow: 1px 1px #555,-1px -1px black;
	@include transition(color .5s ease);
}
ul.content-link-list li:hover i {
	text-decoration: none;
	color: $joeorange;
	@include transition(color .5s ease);
}

ul.chirp li a,
ul.content-link-list a {
	@include hyphens();
}
ul.content-link-list a {
	display: block;
	padding: 1.25em 1.25em 1.25em 1.25em;
	height: 100%;
}
ul.content-link-list li.special-link a {
	color: white;
}
ul.content-link-list a:hover,
ul.content-link-list li.special-link a:hover {
  text-decoration:none;
}
.chirp .user-link {
  display:block;
  font-weight:bold;
  font-size:$baseFontSize*1.2;
}
.chirp .meta {
  display:block;
}

// MISC
// ----

// Horizontal rules
hr {
  margin: $baseLineHeight 0;
  border: 0;
  border-top: 1px solid $hrBorder;
  border-bottom: 1px solid $white;
}

// Abbreviations and acronyms
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted $grayLight;
}
abbr.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

// Blockquotes
blockquote {
  padding: 0 0 0 .937em;
  margin: 0 0 $baseLineHeight;
  border-left: 5px solid lighten($joeorange, 25%);
  p,
  li,
  ol {
    margin-bottom: 0;
    @include font-shorthand(.9em,300,$baseLineHeight * .9);
    font-style:italic;
    color:$gray;
  }
  small {
    display: block;
    line-height: $baseLineHeight;
    color: $gray;
    &:before {
      content: '\2014 \00A0';
    }
  }

  // Float right with text-align: right
  &.pull-right {
    float: right;
    padding-right: .937em;
    padding-left: 0;
    border-right: 5px solid $grayLighter;
    border-left: 0;
    p,
    small {
      text-align: right;
    }
    small {
      &:before {
        content: '';
      }
      &:after {
        content: '\00A0 \2014';
      }
    }
  }
}

// Quotes
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}

// Addresses
address {
  display: block;
  margin-bottom: $baseLineHeight;
  font-style: normal;
  line-height: $baseLineHeight;
}

// Plugin Specific 
div.sharedaddy, #content div.sharedaddy, #main div.sharedaddy {
  padding: $fluidGridGutterWidth 0;
  font-family:$sansFontFamily;
}

