//
// Typography
// --------------------------------------------------


// Body text
// -------------------------

p {
  margin: 0 0 $baseLineHeight / 2;
}
.lead {
  margin-bottom: $baseLineHeight;
  font-size: 20px;
  font-weight: 200;
  line-height: $baseLineHeight * 1.5;
}


// Emphasis & misc
// -------------------------

small {
  font-size: 85%; // Ex: 14px base font * 85% = about 12px
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
cite {
  font-style: normal;
}
.muted {
  color: $grayLight;
}


// Headings
// -------------------------

h1, h2, h3, h4, h5, h6 {
  margin: ($baseLineHeight / 2) 0;
  font-family: $headingsFontFamily;
  font-weight: $headingsFontWeight;
  line-height: 1;
  color: $headingsColor;
  text-rendering: optimizelegibility; // Fix the character spacing for headings
  small {
    font-weight: normal;
    line-height: 1;
    color: $grayLight;
  }
}
h1 { font-size: 36px; line-height: 40px; }
h2 { font-size: 30px; line-height: 40px; }
h3 { font-size: 24px; line-height: 40px; }
h4 { font-size: 18px; line-height: 20px; }
h5 { font-size: 14px; line-height: 20px; }
h6 { font-size: 12px; line-height: 20px; }

h1 small { font-size: 24px; }
h2 small { font-size: 18px; }
h3 small { font-size: 14px; }
h4 small { font-size: 14px; }

.masthead h1,
.site-title {
	font-size: 120px;
	line-height: 1;
	letter-spacing: -2px;
}


// Page header
// -------------------------

.page-header {
  padding-bottom: ($baseLineHeight / 2) - 1;
  margin: $baseLineHeight 0 ($baseLineHeight * 1.5);
  border-bottom: 1px solid $grayLighter;
}



// Lists
// --------------------------------------------------

// Unordered and Ordered lists
ul, ol {
  padding: 0;
  margin: 0 0 $baseLineHeight / 2 25px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
li {
  line-height: $baseLineHeight;
}
ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}

// Description Lists
dl {
  margin-bottom: $baseLineHeight;
}
dt,
dd {
  line-height: $baseLineHeight;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: $baseLineHeight / 2;
}
// Horizontal layout (like forms)
.dl-horizontal {
  dt {
    float: left;
    width: 120px;
    clear: left;
    text-align: right;
    @include text-overflow();
  }
  dd {
    margin-left: 130px;
  }
}

.masthead-links {
	margin: 0;
	list-style: none;
}
.masthead-links li {
	display: inline;
	padding: 0 10px;
	color: rgba(255, 255, 255, .25);
}
ul.chirp {
padding: 0;
margin: 0;

}
ul.chirp li {
position: relative;
list-style: none;
border-bottom: 1px solid rgba(0, 0, 0, 0.05);
padding: 10px 10px 10px 60px;

  display: inline-block;
  @include ie7-inline-block();

  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  vertical-align: middle;
  @include buttonBackground($btnBackground, $btnBackgroundHighlight, $grayDark, 0 1px 1px rgba(255,255,255,.75));
  @include buttonBackground($btnInverseBackground, $btnInverseBackgroundHighlight);
  @include ie7-restore-left-whitespace(); // Give IE7 some love
  @include box-shadow(#{inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05)})
}
ul.chirp li:first-child {
	@include border-radius(4px 4px 0px 0px);
}
ul.chirp li:last-child {
	@include border-radius(0px 0px 4px 4px);
}
ul.chirp li img {
position: absolute;
left: 10px;
top: 10px;
margin-right: 10px;
width: 40px;
height: 40px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
border: none;
}
ul.chirp li a {
	@include hyphens();
}
/*.chirp {
	padding: 5px;
}
.chirp li {
	list-style-type: none;
}
.chirp img {
	float: left;
	margin: 0 5px 5px 0;
	width: 20%;
	
} */

// MISC
// ----

.masthead p {
  font-size: 40px;
  font-weight: 200;
  line-height: 1.25;
}

// Horizontal rules
hr {
  margin: $baseLineHeight 0;
  border: 0;
  border-top: 1px solid $hrBorder;
  border-bottom: 1px solid $white;
}

// Abbreviations and acronyms
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted $grayLight;
}
abbr.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

// Blockquotes
blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 $baseLineHeight;
  border-left: 5px solid $grayLighter;
  p {
    margin-bottom: 0;
    @include font-shorthand(16px,300,$baseLineHeight * 1.25);
  }
  small {
    display: block;
    line-height: $baseLineHeight;
    color: $grayLight;
    &:before {
      content: '\2014 \00A0';
    }
  }

  // Float right with text-align: right
  &.pull-right {
    float: right;
    padding-right: 15px;
    padding-left: 0;
    border-right: 5px solid $grayLighter;
    border-left: 0;
    p,
    small {
      text-align: right;
    }
    small {
      &:before {
        content: '';
      }
      &:after {
        content: '\00A0 \2014';
      }
    }
  }
}

// Quotes
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}

// Addresses
address {
  display: block;
  margin-bottom: $baseLineHeight;
  font-style: normal;
  line-height: $baseLineHeight;
}
