/* ==========================================================================
   UTILITIES
   ========================================================================== */


// Quick floats
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}

// Toggling content
.hide {
  display: none;
}
.show {
  display: block;
}

// Visibility
.invisible {
  visibility: hidden;
}

// For Affix plugin
.affix {
  position: fixed;
}

// Clearing floats
.clearfix {
  @include clearfix();
}

// Accessible yet invisible text
.hide-text {
  @include hide-text();
}

// Uses box-sizing mixin, so must be defined here
.input-block-level {
  @include input-block-level();
}

.lt-ie9 {
  #nav-home,
  .main {
    max-width: 41em;
  }
  body:not(:target) #nav-page {
    li {
      max-width: 4em;
      height: auto;
      float: left;
      display: inline;
    }
    .icon-user::before,
    .icon-pencil::before,
    .icon-briefcase::before,
    .icon-comment::before {
      display: block;
      font-size: 1.5em;
      color:darken(#B3B3B3, 50%);
      text-shadow:1px 1px $gray, -1px -1px $black;
    }
    a {
      clear: left;
      font-size: .8em;
      line-height: 1.6em;
      padding-top: 1em;
      height: 4em;
      position: relative;
      border-right: solid 1px $gray;
      border-left:solid 1px $grayDark;
      z-index: 1;
      @include transition(height .25s);
    }
    .back {
      display: none;
    }
  }
  .body-base {
    .site-content,
    .site-content-loop {
      padding-top: 4em;
    }
  }
}

