//
// Variables
// --------------------------------------------------


// Global values
// --------------------------------------------------


// Grays
// -------------------------
$black:                 #000 !default;
$grayDarker:            #222 !default;
$grayDark:              #333 !default;
$gray:                  #555 !default;
$grayLight:             #999 !default;
$grayLighter:           #eee !default;
$white:                 #fff !default;


// Accent colors
// -------------------------
$blue:                  #049cdb !default;
$joeBlue:               #00B4FF !default;
$joeBlueLight:          #e6f2f4 !default;
$blueDark:              #0064cd !default;
$green:                 #46a546 !default;
$red:                   #9d261d !default;
$yellow:                #ffc40d !default;
$orange:                #f89406 !default;
$joeorange:             #ff8800 !default;
$pink:                  #c3325f !default;
$purple:                #7a43b6 !default;


// Scaffolding
// -------------------------
$landingBackground:     $grayLighter !default;
$bodyBackground:        $joeBlueLight !default;
$textColor:             $grayDark !default;


// Links
// -------------------------
$linkColor:             $joeorange !default;
$linkColorHover:        darken($linkColor, 15%) !default;


// Typography
// -------------------------
$sansFontFamily:        "droid-sans",sans-serif, Arial, sans-serif !default;
$serifFontFamily:       "droid-serif", "Georgia", Times, serif !default;
$monoFontFamily:        Menlo, Monaco, Consolas, "Courier New", monospace !default;

$baseFontSize:          1em !default;
$baseFontFamily:        $serifFontFamily !default;
$baseLineHeight:        1.5em !default;
$altFontFamily:         $sansFontFamily !default;

$navFontSize:           3em !default;

$headingsFontFamily:    "kaffeesatz",Arial, sans-serif !default; // replaces BS default
$headingsFontWeight:    normal !default;    // instead of browser default, bold
$headingsColor:         inherit !default; // empty to use BS default, $textColor


// Tables
// -------------------------
$tableBackground:                   transparent !default; // overall background-color
$tableBackgroundAccent:             #f9f9f9 !default; // for striping
$tableBackgroundHover:              #f5f5f5 !default; // for hover
$tableBorder:                       #ddd !default; // table and cell border


// Buttons
// -------------------------
$btnBackground:                     $white !default;
$btnBackgroundHighlight:            darken($white, 10%) !default;
$btnBorder:                         #bbb !default;

$btnPrimaryBackground:              $blue !default;
$btnPrimaryBackgroundHighlight:     adjust-hue($btnPrimaryBackground, 20%) !default;

$btnInfoBackground:                 #5bc0de !default;
$btnInfoBackgroundHighlight:        #2f96b4 !default;

$btnSuccessBackground:              #62c462 !default;
$btnSuccessBackgroundHighlight:     #51a351 !default;

$btnWarningBackground:              lighten($orange, 15%) !default;
$btnWarningBackgroundHighlight:     $orange !default;

$btnDangerBackground:               #ee5f5b !default;
$btnDangerBackgroundHighlight:      #bd362f !default;

$btnInverseBackground:              #444 !default;
$btnInverseBackgroundHighlight:     $grayDarker !default;


// Forms
// -------------------------
$inputBackground:               $white !default;
$inputBorder:                   #ccc !default;
$inputBorderRadius:             3px !default;
$inputDisabledBackground:       $grayLighter !default;
$formActionsBackground:         #f5f5f5 !default;

// Dropdowns
// -------------------------
$dropdownBackground:            $white !default;
$dropdownBorder:                rgba(0,0,0,.2) !default;
$dropdownDividerTop:            #e5e5e5 !default;
$dropdownDividerBottom:         $white !default;

$dropdownLinkColor:             $grayDark !default;

$dropdownLinkColorActive:       $dropdownLinkColor !default;
$dropdownLinkBackgroundActive:  $linkColor !default;

$dropdownLinkColorHover:        $white !default;
$dropdownLinkBackgroundHover:   $dropdownLinkBackgroundActive !default;



// COMPONENT VARIABLES
// --------------------------------------------------

// Z-index master list
// -------------------------
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)
$zindexDropdown:          1000 !default;
$zindexPopover:           1010 !default;
$zindexTooltip:           1030 !default;
$zindexFixedNavbar:       1030 !default;
$zindexModalBackdrop:     1040 !default;
$zindexModal:             1050 !default;


// Sprite icons path
// -------------------------
$iconSpritePath:          "/wp-content/themes/joesnellpdx_theme/_img/glyphicons-halflings.png" !default;
$iconWhiteSpritePath:     "/wp-content/themes/joesnellpdx_theme/_img/glyphicons-halflings-white.png" !default;

// Input placeholder text color
// -------------------------
$placeholderText:         $grayLight !default;


// Hr border color
// -------------------------
$hrBorder:                $grayLighter !default;


// Wells
// -------------------------
$wellBackground:                  #f5f5f5 !default;


// Navbar
// -------------------------
$navbarCollapseWidth:             61em !default;	// 979px/16px = 61em

$navbarHeight:                    5em !default; 	// 80px/16px = 5em
$navbarBaseHeight:                3.125em !default; 	// 40px/16px = 2.5em
$navbarBackground:                $joeorange !default;
$navbarBackgroundHighlight:       $joeorange !default;
$navbarBorder:                    darken($navbarBackground, 12%) !default;

$navbarText:                      $grayLight !default;
$navbarLinkColor:                 $joeorange !default;
$navbarLinkColorHover:            $joeorange !default;
$navbarLinkColorActive:           $navbarLinkColorHover !default;
$navbarLinkBackgroundHover:       transparent !default;
$navbarLinkBackgroundActive:      $navbarBackground !default;

$navbarBrandColor:                $navbarLinkColor !default;

$elementHeight:					  $navbarHeight !default;

// Inverted navbar
$navbarInverseBackground:                #111111 !default;
$navbarInverseBackgroundHighlight:       #222222 !default;
$navbarInverseBorder:                    #252525 !default;

$navbarInverseText:                      $grayLight !default;
$navbarInverseLinkColor:                 $linkColor !default;
$navbarInverseLinkColorHover:            darken($linkColor, 15%) !default;
$navbarInverseLinkColorActive:           $navbarInverseLinkColorHover !default;
$navbarInverseLinkBackgroundHover:       transparent !default;
$navbarInverseLinkBackgroundActive:      $navbarInverseBackground !default;

$navbarInverseSearchBackground:          lighten($navbarInverseBackground, 25%) !default;
$navbarInverseSearchBackgroundFocus:     $white !default;
$navbarInverseSearchBorder:              $navbarInverseBackground !default;
$navbarInverseSearchPlaceholderColor:    #ccc !default;

$navbarInverseBrandColor:                $navbarInverseLinkColor !default;


// Pagination
// -------------------------
$paginationBackground:                #fff !default;
$paginationBorder:                    #ddd !default;
$paginationActiveBackground:          #f5f5f5 !default;


// Hero unit
// -------------------------
$heroUnitBackground:              $grayLighter !default;
$heroUnitHeadingColor:            inherit !default;
$heroUnitLeadColor:               inherit !default;


// Form states and alerts
// -------------------------
$warningText:             #c09853 !default;
$warningBackground:       #fcf8e3 !default;
$warningBorder:           darken(adjust-hue($warningBackground, -10), 3%) !default;

$errorText:               #b94a48 !default;
$errorBackground:         #f2dede !default;
$errorBorder:             darken(adjust-hue($errorBackground, -10), 3%) !default;

$successText:             #468847 !default;
$successBackground:       #dff0d8 !default;
$successBorder:           darken(adjust-hue($successBackground, -10), 5%) !default;

$infoText:                #3a87ad !default;
$infoBackground:          #d9edf7 !default;
$infoBorder:              darken(adjust-hue($infoBackground, -10), 7%) !default;


// Tooltips and popovers
// -------------------------
$tooltipColor:            #fff !default;
$tooltipBackground:       #000 !default;
$tooltipArrowWidth:       .312en !default; // 5px/16px = .312em
$tooltipArrowColor:       $tooltipBackground !default;

$popoverBackground:       #fff !default;
$popoverArrowWidth:       .625em !default; // 10px/16px = .625em
$popoverArrowColor:       #fff !default;
$popoverTitleBackground:  darken($popoverBackground, 3%) !default;

// Special enhancement for popovers
$popoverArrowOuterWidth:  $popoverArrowWidth + 1 !default;
$popoverArrowOuterColor:  rgba(0,0,0,.25) !default;



// GRID
// --------------------------------------------------

// Default 940px/16px = 58.75em grid
// -------------------------
$gridColumns:             12 !default;
$gridColumnWidth:         3.75em !default; 	// 60px/16px = 3.75em
$gridGutterWidth:         1.25em !default; 	// 20px/16px = 1.25em
$gridRowWidth:            ($gridColumns * $gridColumnWidth) + ($gridGutterWidth * ($gridColumns - 1)) !default;

// 1200px/16px = 75em min
$gridColumnWidth1200:     4.375em !default; // 70px/16px = 4.375em
$gridGutterWidth1200:     1.875em !default; // 30px/16px = 1.875em
$gridRowWidth1200:        ($gridColumns * $gridColumnWidth1200) + ($gridGutterWidth1200 * ($gridColumns - 1)) !default;

// 768px/16px = 48em - 979px/16px = 61em
$gridColumnWidth768:      2.625em !default; // 42px/16px = 2.625em
$gridGutterWidth768:      1.25em !default;	// 20px/16px = 1.25em
$gridRowWidth768:         ($gridColumns * $gridColumnWidth768) + ($gridGutterWidth768 * ($gridColumns - 1)) !default;


// Fluid grid
// -------------------------
$fluidGridColumnWidth:    percentage($gridColumnWidth/$gridRowWidth) !default;
$fluidGridGutterWidth:    percentage($gridGutterWidth/$gridRowWidth) !default;

// 1200px min
$fluidGridColumnWidth1200:     percentage($gridColumnWidth1200/$gridRowWidth1200) !default;
$fluidGridGutterWidth1200:     percentage($gridGutterWidth1200/$gridRowWidth1200) !default;

// 768px-979px
$fluidGridColumnWidth768:      percentage($gridColumnWidth768/$gridRowWidth768) !default;
$fluidGridGutterWidth768:      percentage($gridGutterWidth768/$gridRowWidth768) !default;
