@charset "UTF-8";
/* CSS Document */
body {
	position: relative;
}

#main {
	width: 100%;
	background-color: rgba(51,255,0,);
	z-index: 1000;
	position: absolute;
	left: 0;
	right: 0;
	-webkit-transition: left linear 1s;
}
#wrap {
	width: 100%;
	background-color: rgba(153,255,0,1);
	z-index: 1001;
	position: absolute;
	left: 0;
	right: 0;
	-webkit-transition: left linear 1s;
}
.sidebar {
	width: 25%;
	background-color: rgba(0,51,153,.5);
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
}
nav {
	width: 25%;
	background-color: rgba(0,51,153,.5);
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
	-webkit-transition: left linear 1s;
}
#header {
	background-color: rgba(153,51,0,.5);
	height: 100px;
	width: 100%;
	z-index: 1002;
}
#header h1 {
	float: left;
}
#header a {
	float: right;
}
#header ul {
	display: inline;
}
#main:target {
	position: absolute;
	left: 25%;
	right: -25%
	background-color: black;
	-webkit-transition: left linear 1s;
}
#wrap:target {
	position: absolute;
	right: 25%;
	left: -25%;
	background-color: red;
	-webkit-transition: left linear 1s;
}
#main:target nav{
	left: -25%;
	-webkit-transition: left linear 1s;
}
#wrap:target .sidebar {
	right: -25%;
	-webkit-transition: left linear 1s;
}
/*testing stuff*/

/*TESTING HERE*/

  body:not(:target) #main,
  body:not(:target) #wrap {
    max-width: 100%;
    z-index: 1000;
    overflow: visible;
    left: 0;
    right: 0;
    position: absolute;
    .back-large-screen {
      display: block;
      height: 0;
      line-height: 0;
      position: absolute;
      text-indent: -999em;
    }
  }
  body:not(:target) #wrap {
    background-color: $grayLight;
  }
  body:not(:target) #nav-page,
  body:not(:target) #nav-home {
    position: absolute;
    width: 12em;
    left: 0;
    top: 8em;
    bottom: 0;
    z-index: -1;
  }

  body:not(:target) .sidebar {
    background-color:$gray;
    padding: 8em 1em 1em;
    @include box-shadow (2px 0px 10px black inset);
    @include box-sizing(border-box);
    width: 24em;
    right: -24em;
    left: auto;
    top: 0;
    bottom: 0;
    right: 0; 
    position: absolute;
    z-index: -1;
    .widget-area {
      padding:$gridGutterWidth;
      background-color: $grayLighter;
      @include box-shadow (white 0 1px 0, rgba(0, 0, 0, 0.9) 0 1px 3px 0px inset);
    }
  }

  body:not(:target) #main:target {
    left: 12em;
    right: -12em;
    z-index: 1001;
    .menu-link-left {
      // @include rotate(-90deg);
    }
    #nav-page,
    #nav-home {
      left: -12em;
      right: 12em;
    }
  }
  body:not(:target) #wrap:target {
    right: 24em;
    left: -24em;
    z-index: 1001;
    .menu-link-right {
      // @include rotate(90deg);
    }
    .sidebar {
      right: -24em;
      -webkit-transition: left liner 1s;
    }
  }
  body:not(:target) #main:target,
  body:not(:target) #wrap:target {
    .back-large-screen {
      //background-color: rgba(0, 0, 0, .5);
      border: 0;
      height: auto;
      line-height: 1;
      top: 0em;
      bottom: 0em;
      left: 0;
      right: 0;
      z-index: 1001;
      &:hover {
        background-color: transparent;
      }
    }
  }


