/*!
 * JOE_SNELL_PDX RESPONSIVE CSS
 *
 * SECONDARY TO MAIN.CSS
 *
 */

 /*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * CONTENTS............
 * VARIABLES...........SASS sitewide css variables
 *
 * RESPONSIVE UTILITIES. PRELIMINARY RESPONSIVE STYLES
 *
 * MEDIA QUERIES:
 * 
 * 41.25em-MAX.........
 * 41.26-61em..........
 * 62em-MIN............
 * 75em-MIN............
 *
 * RESPONSIVE NAVBAR...
 *
 */



// REPEAT VARIABLES & MIXINS
// -------------------------
// Required since we compile the responsive stuff separately

@import "variables"; // Modify this for custom colors, font-sizes, etc
@import "mixins";
@import "compass/css3";
$expermintal-support-for-svg: true;


// RESPONSIVE CLASSES
// ------------------

@import "responsive-utilities";


// MEDIA QUERIES
// ------------------

// Phones to portrait tablets and narrow desktops
@import "responsive-41.25em-max";

// Tablets to regular desktops
@import "responsive-41.26em-61em";

// Regular desktops 
@import "responsive-62em-min";

// Large desktops
@import "responsive-75em-min";


// RESPONSIVE NAVBAR
// ------------------

// From 979px and below, show a button to toggle navbar contents
@import "responsive-navbar";
